<div class="container" style="width: calc(70%);">
  <h1 class="page-header" style="font-size:35px;"><span class="fa fa-plus"></span> Add Sold Product </h1>
   <section class="register">
<%= form_for(@sold_panel) do |f| %>
  <% if @sold_panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sold_panel.errors.count, "error") %> prohibited this sold_panel from being saved:</h2>

      <ul>
      <% @sold_panel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="reg_section">
  <h3>Buyer Name</h3>
  <%= select_tag "buyer_id" , options_from_collection_for_select(@buyers, "id", "name"),class:"form-group" ,style:"width:700px;" %>
 
<h3><span class="fa fa-plus-circle"></span> <%= link_to 'Add New Buyer', new_buyer_path %></h3>
  
 
  <h3><span class="fa fa-bolt"></span> Total Power</h3>
 
  <%= number_field_tag "power","",options={:class=>"form-group",:onkeyup=>"change()",:min=>"0",:style=>"width:700px"} %>
 </div> 
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="text-center">Serialno</th>
            <th class="text-center">Production date</th>
            <th class="text-center">Height</th>
            <th class="text-center" >Width</th>
            <th class="text-center">Power</th>
            <th class="text-center">Type</th>
            <th class="text-center">Subtype</th>
            <th class="text-center">Price</th>
            <th class="text-center">Container</th>
          </tr>
        </thead>
        <tbody>

          <% @solar_panels.each do |solar_panel| %>
            <tr>
              <td class="text-center"><%= check_box_tag  "solar_panel_id[]", solar_panel.id,false,options={:onchange=>'solvalue(this)',:id => "solar_panel_id_#{solar_panel.id}_#{solar_panel.power}_#{solar_panel.price}"} %> <%= solar_panel.serialNo %></td>
              <td class="text-center"><%= solar_panel.production_date %></td>
              <td class="text-center"><%= solar_panel.height %></td>
              <td class="text-center"><%= solar_panel.width %></td>
              <td class="text-center"><%= solar_panel.power %></td>
              <td class="text-center"><%= solar_panel.celltype %></td>
              <td class="text-center"><%= solar_panel.subtype %></td>
              <td class="text-center"><%= solar_panel.price %></td>
              <td class="text-center"><%= solar_panel.container.serialNo %></td> 
            </tr>

          <% end %>
        </tbody>  
      </table>

    
 
 
    <%= hidden_field_tag "totalPrice" %>
  
  
    <%= hidden_field_tag "totalPower" %>
  <div class="actions">
  
    <%= submit_tag("Complete order", :class=>"btn btn-success",:id=>"order",disabled: true) %>
  </div>
 
<% end %>
  </section>
</div>

<script>
   
   function change(){
   $("#totalPower").val($("#power").val());
   console.log($("table tr td" )[0] );
   for(i=0; i<$("table tr td" ).children().length;i++){
     if($("table tr td" ).children()[i].checked==true)
      $("table tr td" ).children()[i].checked=false;
console.log("hello");

   }
  
   
   }

   function solvalue(ptr){
    console.log(ptr.id);
    var price=ptr.id.split("_")[5];
    var power=ptr.id.split("_")[4];
    var id=ptr.id.split("_")[3]
    var totalPower=$("#power").val();
    if(totalPower!=""){
      if(ptr.checked==true){
      var oldpower=$("#power").val();
      $("#power").val(totalPower-power);
      console.log($("#power").val());
      if($("#power").val()<0){
        BootstrapDialog.alert('you exceed the totalPower ');
        
        $("#power").val(oldpower);
        ptr.checked=false;

      }
      else{
      $("#totalPrice").val(price);
    }
    if($("#power").val()==0){
      $("#order").attr('disabled',false);
    }
  }
    else if (ptr.checked==false){

       $("#power").val(totalPower+power);
       $("#totalPrice").val($("#totalPrice").val()-price);
       $("#order").attr('disabled',true);

    }


    }
    else{
      BootstrapDialog.alert('enter total power first');
      ptr.checked=false;
    }
    
   }
</script>
