
<div class="container">
  <h1 class="page-header">Add Sold Product </h1>
<%= form_for(@sold_panel) do |f| %>
  <% if @sold_panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sold_panel.errors.count, "error") %> prohibited this sold_panel from being saved:</h2>

      <ul>
      <% @sold_panel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label>Buyer Name :</label>
  <%= select_tag "buyer_id" , options_from_collection_for_select(@buyers, "id", "name"),class:"form-control form-group"  %>
 
<%= link_to 'Add New Buyer', new_buyer_path %><br>
  
 
  <label>Total Power :</label>
 
  <%= number_field_tag "power","",options={:class=>"form-control form-group",:onkeyup=>"change()",:min=>"0"} %>
<table class="table table-striped">
    <thead>
    <tr>

      <th text-align="center">Serialno</th>
      <th text-align="center">Production date</th>
      <th text-align="center">Height</th>
      <th text-align="center" >Width</th>
      <th text-align="center">Power</th>
      <th text-align="center">Type</th>
      <th text-align="center">Subtype</th>
      <th text-align="center">Price</th>
      <th text-align="center">Container</th>
     
   

    </tr>
  </thead>
  <tbody>

    <% @solar_panels.each do |solar_panel| %>
      <tr>

        <td><%= check_box_tag  "solar_panel_id[]", solar_panel.id,false,options={:onchange=>'solvalue(this)',:id => "solar_panel_id_#{solar_panel.id}_#{solar_panel.power}_#{solar_panel.price}"} %> <%= solar_panel.serialNo %></td>
         <td><%= solar_panel.production_date %></td>
          <td><%= solar_panel.height %></td>
        <td><%= solar_panel.width %></td>
        <td><%= solar_panel.power %></td>
        <td><%= solar_panel.celltype %></td>
        <td><%= solar_panel.subtype %></td>
        <td><%= solar_panel.price %></td>
        <td><%= solar_panel.container.serialNo %></td>
        
        </tr>

    <% end %>

  </tbody>  
</table>
 
 
    <%= hidden_field_tag "totalPrice" %>
  
  
    <%= hidden_field_tag "totalPower" %>
  <div class="actions">
  
    <%= submit_tag("Complete order", :class=>"btn btn-success",:id=>"order",disabled: true) %>
  </div>
 
<% end %>
</div>

<script>
   
   function change(){
   $("#totalPower").val($("#power").val());

   
   }

   function solvalue(ptr){
    console.log(ptr.id);
    var price=ptr.id.split("_")[5];
    var power=ptr.id.split("_")[4];
    var id=ptr.id.split("_")[3]
    var totalPower=$("#power").val();
    if(totalPower!=""){
      if(ptr.checked==true){
      var oldpower=$("#power").val();
      $("#power").val(totalPower-power);
      console.log($("#power").val());
      if($("#power").val()<0){
        alert("you exceed the totalPower");
        $("#power").val(oldpower);
        ptr.checked=false;

      }
      else{
      $("#totalPrice").val(price);
    }
    if($("#power").val()==0){
      $("#order").attr('disabled',false);
    }
  }
    else if (ptr.checked==false){

       $("#power").val(totalPower+power);
       $("#totalPrice").val($("#totalPrice").val()-price);
       $("#order").attr('disabled',true);

    }


    }
    else{
      alert("enter total power first");
      ptr.checked=false;
    }
    
   }
</script>
