<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th text-align="center">Buyer</th>
      <th text-align="center">Totalprice</th>
      <th text-align="center">Totalpower</th>
      <th text-align="center">Show</th>
      <th text-align="center">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @sold_panels.each do |sold_panel| %>
      <tr>
        <% buyer = Buyer.find_by(id:sold_panel.buyer_id  )%>
        <td><%= buyer.name %></td>
        <td><%= sold_panel.totalPrice %></td>
        <td><%= sold_panel.totalPower %></td>
        <td><%= link_to 'Show', sold_panel, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_sold_panel_path(sold_panel), class:"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

