<p id="notice"><%= notice %></p>

<h1>Listing Sold Panels</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Totalprice</th>
      <th>Totalpower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sold_panels.each do |sold_panel| %>
      <tr>
        <td><%= sold_panel.buyer %></td>
        <td><%= sold_panel.totalPrice %></td>
        <td><%= sold_panel.totalPower %></td>
        <td><%= link_to 'Show', sold_panel %></td>
        <td><%= link_to 'Edit', edit_sold_panel_path(sold_panel) %></td>
        <td><%= link_to 'Destroy', sold_panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sold panel', new_sold_panel_path %>
