<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th text-align="center">Vendor</th>
      <th text-align="center">Container</th>
      <th text-align="center">Date</th>
      <th text-align="center">Show</th>
      <th text-align="center">Edit</th>
      <th text-align="center">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_containers.each do |vendor_container| %>
      <tr>
        <td><%= vendor_container.vendor %></td>
        <td><%= vendor_container.container %></td>
        <td><%= vendor_container.date %></td>
        <td><%= link_to 'Show', vendor_container, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_vendor_container_path(vendor_container), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', vendor_container, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

