

<%= form_for(@material) do |f| %>
  
 <section class="register">

<% if logged_in? %> 
<% if current_category.category == "Stock Keeper" %>
<div class="form-group reg_section">
<h1> Stock Information</h1>
    <h3>Stock Number</h3>
    <%= f.text_field :stockNo%>
    <% if @material.errors[:stockNo].present? %>
        <div class="text-danger">
          * stock number can`t be blank
        </div>
        <% end %>
    <h3>Shelf Number</h3>
    <%= f.text_field :shelfNo %>
    <% if @material.errors[:shelfNo].present? %>
        <div class="text-danger">
          * shelf number can`t be blank
        </div>
        <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
  <% else %>
 
    <div class="form-group reg_section ">
      <h1>Material Information</h1>
  
        <h3>Name</h3>
        <%= f.text_field :name,class: "w", placeholder:"Enter Material Name...." %>

        <% if @material.errors[:name].present? %>
        <div class="text-danger">
          * name can`t be blank
        </div>
        <% end %>
        <h3>Serial Number</h3>
        <% if @flag == "new" %>
          <%= f.text_field :serial_number,placeholder:"Enter Material Serial number...."%>
          <% if @material.errors[:serial_number].present? %>
        <div class="text-danger">
          * serial number can`t be blank
        </div>
        <% end %>
        <%else%> 
          <%= f.text_field :serial_number,:readonly => true %>
        <%end%> 
        <h3>Price</h3>
         <%= f.text_field :price ,placeholder:"Enter Material Price...."%> 
         <% if @material.errors[:price].present? %>
        <div class="text-danger">
          * price can`t be blank
        </div>
        <% end %>
         <h3>Material_Photo </h3>
         <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
         <div class="fileUpload btn btn-primary">
          <span>Upload</span>
          <%= f.file_field :avatar,class: "upload", id:"uploadBtn" %>
        </div>
        <% if @material.errors[:avatar].present? %>
        <div class="text-danger">
          * image can`t be blank
        </div>
        <% end %>
    </div>
    <div class="form-group reg_section">
      <h1>Material In Stock </h1>
      <div class="col-md-6">
       
      <h3>quantity_value </h3>
      <%= f.number_field :quantity_value ,placeholder:"Quantity Value..." , style: "width:200px"%>
      <% if @material.errors[:quantity_value].present? %>
        <div class="text-danger">
          * quantity can`t be blank
        </div>
        <% end %>
    </div>
      <!-- this div for quantites to be dispalayed at dropdown list-->
    <div class="col-md-6">
      
        <h3>Unit</h3>
            <% if @flag == "new" %>
            
              <%= f.select :quantity_id, options_from_collection_for_select(@quantites, "id", "unit_name") ,{}, {:style=> "width:100px" }%>
           
            <% else %>
              <%= f.select :quantity_id, options_from_collection_for_select(@quantites, "id", "unit_name",@material.quantity_id),{} , {:style=> "width:100px" }%>
            <%end%>
        <!-- add new quantity using ajax-->
        <a id="unitlink" class="btn btn-link" style="text-align: left" 
        onclick="showunitform()"><h3>Add Quantity_Unit</h3></a>
        <div id="addnewunit" style="display:none" class="form-group">
             <h1>
              <span class="label label-default">New Quantity_unit</span>
            </h1>
            <div class="form-group">
              <h3>Unit Name</h3>
              <input type="text" id="unitname" style="width:100px">
            </div>
            <div class="actions">
              <a onclick="unitajax()" class="btn btn-success">Add Quantity</a>
              <a onclick="canceladdunit()" class="btn btn-warning">Cancel</a>
            </div>
        </div>
          <!-- end of adding new unit using ajax -->
    
    </div>
  
  <!-- end of div for quantites -->
  
 
 
  
    <h3>Min Number</h3>
    <%= f.number_field :Min_Number,placeholder:"Enter Min Number...." %>
    <% if @material.errors[:Min_Number].present? %>
        <div class="text-danger">
          * Min number can`t be blank
        </div> 
        <% end %>
  
    <h3>Stock Number</h3>
    <%= f.text_field :stockNo, placeholder:"Enter Stock Number...." %>
    <% if @material.errors[:stockNo].present? %>
        <div class="text-danger">
          * stock number can`t be blank
        </div>
        <% end %>
  
  
    <h3>Shelf Number</h3>
    <%= f.text_field :shelfNo, placeholder:"Enter Shelf Number...." %>
    <% if @material.errors[:shelfNo].present? %>
        <div class="text-danger">
          * shelf number can`t be blank
        </div>
        <% end %>
  </div>
  <div class="form-group reg_section">

      <h1>Material Date </h1>
    <h3>production_date </h3>
    <%= f.date_select :production_date %>

   <h3>expiration_date</h3>
   <div class="form-group reg_section">
    <%= f.date_select :expiration_date %>
  </div>
  </div>
  <!-- for get all vendors to select one of them -->

 <div class="reg_section">

      <h1>Material Vendor </h1>
    <h3>Vendor </h3>
    <select id="vendor" name="vendor">
      <% @vendors.each do |vendor| %>
        <% if @flag == "new" %>
          <option value="<%= vendor.id %>"><%= vendor.name %></option>
        <%else %>
          <% if @vendor_id == vendor.id &&%>
            <option value="<%= vendor.id %>" selected><%= vendor.name %></option>
            <%else%>
            <option value="<%= vendor.id %>"><%= vendor.name %></option>
          <%end%>   
        <%end %>
        
      <% end -%>
    </select>

   <!-- add new vendor using ajax-->
    <a id="vendorlink" class="btn btn-link" style="text-align: left"
    onclick="showvendorform()"><h3>Add new Vendor</h3></a>
      <div id="addnewvendor" style="display:none" class="form-group">
        <h1>
        <span class="label label-default">New Vendor</span>
      </h1>
        <div class="form-group">
          <h3>Vendor Name</h3>
          <input type="text" id="vendorname" placeholder:"Enter Vendor Name.....">
        </div>
        <div class="form-group">
          <h3>Vendor Email</h3>
          <input type="text" id="vendoremail" placeholder:"Enter Vendor Email....">
        </div>
        <div class="actions">
          <a onclick="vendorajax()" class="btn btn-success">Add Vendor</a>
          <a onclick="canceladdvendor()" class="btn btn-warning">Cancel</a>
        </div>
      </div>
    <!-- end of adding new vendor using ajax -->
  </div>
  <!-- end of div for vendors -->






  <!-- this for properties -->

  <div id="property" class="reg_section">

      <h1>Material Properties </h1>
    <h3>Property</h3>
    <table id="allproperties">
      <% @properties.each do |property| %>
        <% if @flag =="new" %>
          <tr>
            <td>
              <input type="checkbox" id="<%= property.id %>" name="propertycheck[]" 
              onchange="checkproperty(this)" value="<%=property.id%>"/><%=property.name%>      
            </td>
            <td id="value_<%= property.id %>" style="display:none;" 
            onkeyup="propertyvalue(this)">
              <h3 style="margin-left:100px;">value</h3>
              <input type="text" id="<%= property.id %>_value" style="width:100px;margin-left:100px;">
            </td>
          </tr>   
        <% else %>
          <tr>
            <% if @materialproperties_selected_ids.include? property.id %>
              <% property_value =  @material_property.where("material_id = ? AND property_id = ?", @material.id, property.id)[0].value %>
              <td>
                <input type="checkbox" id="<%= property.id %>" name="propertycheck[]" 
                onchange="checkproperty(this)" value="<%=property.id%>:<%=property_value%>" checked="true" /><%=property.name%>      
              </td>
              <td id="value_<%= property.id %>" style="display:block;" onkeyup="propertyvalue(this)">
                <h3 style="margin-left:100px;">value</h3>
                <input type="text" id="<%= property.id %>_value" value="<%=property_value%>" style="width:100px;margin-left:100px;">
              </td>
            <% else %>
              <td>
                <input type="checkbox" id="<%= property.id %>" name="propertycheck[]" 
                onchange="checkproperty(this)" value="<%=property.id%>"/><%=property.name%>      
              </td>
              <td id="value_<%= property.id %>" style="display:none;" onkeyup="propertyvalue(this)">
                <h3 style="margin-left:100px;">value</h3>
                <input type="text" id="<%= property.id %>_value" style="width:100px;margin-left:100px;">
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end -%>
    </table> 
    <!-- add new property using ajax-->
    <a id="propertylink" class="btn btn-link" style="text-align: left"
    onclick="showpropertyform()"><h3>Add new Property</h3></a>
    <div id="addnewproperty" style="display:none" class="form-group">
      <h1>
        <span class="label label-default">New Property</span>
      </h1>
      <div class="form-group">
        <h3>property Name</h3>
        <input type="text" id="propertyname" placeholder="Enter Property....">
      </div>
      <div class="actions">
        <a onclick="propertyajax()" class="btn btn-success">Add Property</a>
        <a onclick="canceladdproperty()" class="btn btn-warning">Cancel</a>
      </div>
    </div>
      <!-- end of adding new property using ajax -->
  </div>

  
   
  
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
 
  <% end %>
  <% end %>
<% end %>
</section> 
<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>
