<style>
.file{
   margin: 5px;
  padding: 0 10px;
  height: 34px;
  color: #404040;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  --webkit-border-radius: 5px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  -moz-outline-radius:7px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
}
</style>

<%= form_for(@material) do |f| %>

  
 <section class="register">

<% if logged_in? %> 
<% if current_category.category == "Stock Keeper" %>
<div class="form-group reg_section">
<h1><span class="fa fa-floppy-o"></span> Stock Information</h1>
    <h3> Stock Number</h3>
    <%= f.text_field :stockNo%>
    <% if @material.errors[:stockNo].present? %>
        <div class="text-danger">
          <% @material.errors[:stockNo].each do |msg| %>
              <p><%= "* stock number "+msg %></p> 
              <% end %>
        </div>
        <% end %>
    <h3>Shelf Number</h3>
    <%= f.text_field :shelfNo %>
    <% if @material.errors[:shelfNo].present? %>
        <div class="text-danger">
          <% @material.errors[:shelfNo].each do |msg| %>
              <p><%= "* shelf number "+msg %></p> 
              <% end %>
        </div>
        <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-warning' %>
  </div>
  <% else %>
 
    <div class="form-group reg_section ">
      <h1><span class="fa fa-info-circle"> </span> Material Information</h1> 
  
        <h3><span class="fa fa-cube"></span> Name</h3> 
        <%= f.text_field :name,class: "w", placeholder:"Enter Material Name...." %>

        <% if @material.errors[:name].present? %>
        
        <div class="text-danger">
         <% @material.errors[:name].each do |msg| %>
              <p><%= "* name "+msg %></p> 
              <% end %>
         
      </div>
        
        <% end %>
        <h3><span class="fa fa-sort-numeric-asc"></span> Serial Number</h3>
        <% if @flag == "new" %>
          <%= f.text_field :serial_number,placeholder:"Enter Material Serial number...."%>
          <% if @material.errors[:serial_number].present? %>
        <div class="text-danger">
          <% @material.errors[:serial_number].each do |msg| %>
              <p><%= "* serial number "+msg %></p> 
              <% end %>
          
        </div>
        <% end %>
        <%else%> 
          <%= f.text_field :serial_number,:readonly => true %>
        <%end%> 
        <h3><span class="fa fa-usd"></span> Price</h3>
         <%= f.text_field :price ,placeholder:"Enter Material Price...."%> 
         <% if @material.errors[:price].present? %>
        <div class="text-danger">
          <% @material.errors[:price].each do |msg| %>
              <p><%= "* price "+msg %></p> 
              <% end %>
         </div>     
        <% end %>
         <h3> <span class="fa fa-picture-o"></span> Material Photo </h3>
         <input id="uploadFile" placeholder="Choose File" disabled="disabled"  class="file"/>
         <div class="fileUpload btn btn-primary fa fa-paperclip">
          <span>Upload</span>
          <%= f.file_field :avatar,class: "upload", id:"uploadBtn" %>
        </div>
        <% if @material.errors[:avatar].present? %>
         <div class="text-danger">
        <% @material.errors[:avatar].each do |msg| %>
              <p><%= "* image "+msg %></p> 
              <% end %>
           </div>   
        <% end %>
    </div>
    <div class="form-group reg_section">
      <h1><span class="fa fa-floppy-o"></span> Material In Stock </h1>
      <div class="col-md-6">
       
      <h3> <span class="fa fa-sort-numeric-asc"></span> quantity_value </h3>
      <%= f.number_field :quantity_value ,placeholder:"Quantity Value..." , style: "width:200px"%>
      <% if @material.errors[:quantity_value].present? %>
       <div class="text-danger">
         <% @material.errors[:quantity_value].each do |msg| %>
              <p><%= "* quantity "+msg %></p> 
              <% end %>
             </div> 
        <% end %>
    </div>
      <!-- this div for quantites to be dispalayed at dropdown list-->
    <div class="col-md-6">
      
        <h3>Unit</h3>
            <% if @flag == "new" %>
            
              <%= f.select :quantity_id, options_from_collection_for_select(@quantites, "id", "unit_name") ,{}, {:style=> "width:100px" }%>
           
            <% else %>
              <%= f.select :quantity_id, options_from_collection_for_select(@quantites, "id", "unit_name",@material.quantity_id),{} , {:style=> "width:100px" }%>
            <%end%>
          </div>   
        <!-- add new quantity using ajax-->
        <a id="unitlink" class="btn btn-link" style="text-align: left" 
        onclick="showunitform()"><h3> <span class="fa fa-plus-circle"></span>  Add Quantity Unit</h3></a>
       
        <div id="addnewunit" style="display:none" class="form-group">
             <h2> <span class="fa fa-plus-circle"></span> New Quantity unit </h2>
            
            <div class="form-group">
              <h3>Unit Name</h3>
              <input type="text" id="unitname" placeholder="Enter Unit Name...">
            </div>
            <div class="actions">
              <a onclick="unitajax()" class="btn btn-info"> <span class="fa fa-check"></span> Add Quantity</a>
              <a onclick="canceladdunit()" class="btn btn-danger"> <span class="fa fa-times"></span> Cancel</a>
            </div>
        </div>
          <!-- end of adding new unit using ajax -->
    
    
  
  <!-- end of div for quantites -->
  
 
 
  
    <h3><span class="fa fa-minus-circle"></span> Min Number</h3>
    <%= f.number_field :Min_Number,placeholder:"Enter Min Number...." %>
    <% if @material.errors[:Min_Number].present? %>
     <div class="text-danger">
       <% @material.errors[:Min_Number].each do |msg| %>
              <p><%= "* min number "+msg %></p> 
              <% end %>
            </div>  
        <% end %>
  
    <h3><span class="fa fa-floppy-o"></span> Stock Number</h3>
    <%= f.text_field :stockNo, placeholder:"Enter Stock Number...." %>
    <% if @material.errors[:stockNo].present? %>
        <div class="text-danger">
            <% @material.errors[:stockNo].each do |msg| %>
              <p><%= "* stock number "+msg %></p> 
              <% end %>
        </div>
        <% end %>
  
  
    <h3><span class="fa fa-floppy-o"></span> Shelf Number</h3>
    <%= f.text_field :shelfNo, placeholder:"Enter Shelf Number...." %>
    <% if @material.errors[:shelfNo].present? %>
        <div class="text-danger">
            <% @material.errors[:shelfNo].each do |msg| %>
              <p><%= "* shelf number "+msg %></p> 
              <% end %>
        </div>
        <% end %>
  </div>
  <div class="form-group reg_section">

      <h1><span class="fa fa-calendar"></span> Material Date </h1>
    <h3><span class="fa fa-calendar-o"></span> production_date </h3>
    <%= f.date_select :production_date %>

   <h3><span class="fa fa-calendar-o"></span> expiration_date</h3>
   <div class="form-group reg_section">
    <%= f.date_select :expiration_date %>
  </div>
  </div>
  <!-- for get all vendors to select one of them -->

 <div class="reg_section">

      <h1><span class="fa fa-info-circle"></span> Material Vendor </h1>
    <h3><span class="fa fa-user"></span> Vendor </h3>
    <select id="vendor" name="vendor" required >
      <% @vendors.each do |vendor| %>
        <% if @flag == "new" %>
          <option value="<%= vendor.id %>"><%= vendor.name %></option>
        <%else %>
          <% if @vendor_id == vendor.id &&%>
            <option value="<%= vendor.id %>" selected><%= vendor.name %></option>
            <%else%>
            <option value="<%= vendor.id %>"><%= vendor.name %></option>
          <%end%>   
        <%end %>
        
      <% end -%>
    </select>

   <!-- add new vendor using ajax-->
    <a id="vendorlink" class="btn btn-link" style="text-align: left"
    onclick="showvendorform()"><h3><span class="fa fa-plus-circle"></span>Add new Vendor</h3></a>
      <div id="addnewvendor" style="display:none" class="form-group">
        <h2>
        <span class="fa fa-plus-circle"></span>New Vendor
      </h2>
        <div class="form-group">
          <h3>Vendor Name</h3>
          <input type="text" id="vendorname" placeholder:"Enter Vendor Name.....">
        </div>
        <div class="form-group">
           <h3><span class="fa fa-envelope-o"></span> Vendor Email</h3>
          <input type="text" id="vendoremail" placeholder:"Enter Vendor Email....">
        </div>

        <div class="form-group">
          <h3>Vendor Type</h3>
          <select id="vendortype">
            <option value="local">local</option>
            <option value="foreign">foreign</option>
          </select>
        </div>

        <div class="form-group">
          <h3>Vendor Address</h3>
          <input type="text" id="vendoraddress" placeholder:"Enter Vendor Address....">
        </div>
        <div class="form-group">
          <h3>Vendor City</h3>
          <input type="text" id="vendorcity" placeholder:"Enter Vendor City....">
        </div>
        <div class="actions">
          <a onclick="vendorajax()" class="btn btn-info"><span class="fa fa-check"></span> Add Vendor</a>
          <a onclick="canceladdvendor()" class="btn btn-danger"><span class="fa fa-times"></span> Cancel</a>
        </div>
      </div>
    <!-- end of adding new vendor using ajax -->
  </div>
  <!-- end of div for vendors -->






  <!-- this for properties -->

  <div id="property" class="reg_section">

      <h1><span class="fa fa-list-ul"></span> Material Properties </h1>
    <h3><span class="fa fa-bullseye"></span> Property</h3>
    <table id="allproperties">
      <% @properties.each do |property| %>
        <% if @flag =="new" %>
          <tr>
            <td>
              <input type="checkbox" id="<%= property.id %>" name="propertycheck[]" 
              onchange="checkproperty(this)" value="<%=property.id%>"/><%=property.name%>      
            </td>
            <td id="value_<%= property.id %>" style="display:none;" 
            onkeyup="propertyvalue(this)">
              <h3 style="margin-left:100px;">value</h3>
              <input type="text" id="<%= property.id %>_value" style="width:100px;margin-left:100px;" placeholder="Enter Value...">
            </td>
          </tr>   
        <% else %>
          <tr>
            <% if @materialproperties_selected_ids.include? property.id %>
              <% property_value =  @material_property.where("material_id = ? AND property_id = ?", @material.id, property.id)[0].value %>
              <td>
                <input type="checkbox" id="<%= property.id %>" name="propertycheck[]" 
                onchange="checkproperty(this)" value="<%=property.id%>:<%=property_value%>" checked="true" /><%=property.name%>      
              </td>
              <td id="value_<%= property.id %>" style="display:block;" onkeyup="propertyvalue(this)">
                <h3 style="margin-left:100px;">value</h3>
                <input type="text" id="<%= property.id %>_value" value="<%=property_value%>" style="width:100px;margin-left:100px;" placeholder="Enter Value...">
              </td>
            <% else %>
              <td>
                <input type="checkbox" id="<%= property.id %>" name="propertycheck[]" 
                onchange="checkproperty(this)" value="<%=property.id%>"/><%=property.name%>      
              </td>
              <td id="value_<%= property.id %>" style="display:none;" onkeyup="propertyvalue(this)">
                <h3 style="margin-left:100px;">value</h3>
                <input type="text" id="<%= property.id %>_value" style="width:100px;margin-left:100px;" placeholder="Enter Value...">
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end -%>
    </table> 
    <!-- add new property using ajax-->
    <a id="propertylink" class="btn btn-link" style="text-align: left"
    onclick="showpropertyform()"><h3> <span class="fa fa-plus-circle"></span> Add new Property</h3></a>
    <div id="addnewproperty" style="display:none" class="form-group">
      <h2>
        <span class="fa fa-plus-circle"></span> New Property
      </h2>
      <div class="form-group">
        <h3>property Name</h3>
        <input type="text" id="propertyname" placeholder="Enter Property....">
      </div>
      <div class="actions">
        <a onclick="propertyajax()" class="btn btn-info"><span class="fa fa-check"></span> Add Property</a>
        <a onclick="canceladdproperty()" class="btn btn-danger"><span class="fa fa-times"></span> Cancel</a>
      </div>
    </div>
      <!-- end of adding new property using ajax -->
  </div>
<!-- this for alerts -->

<div class="modal" id="basicModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p id="modal-body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"> OK</button>
      </div>
    </div>
  </div>
</div>
<!-- end alerts  -->
  
  <div class="actions">
    <%= f.submit class: 'btn btn-warning' %>
  </div>
 
  <% end %>
  <% end %>
<% end %>
</section> 
<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>
