<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th text-align="center">Image</th>
      <th text-align="center">Name</th>
      <th text-align="center">Unit</th>
      <th text-align="center">Quantity Value</th>
      <th text-align="center">Price</th>
      <th text-align="center">Min number</th>
      <th text-align="center">Stockno</th>
      <th text-align="center">Shelfno</th>
      <th text-align="center">Production date</th>
      <th text-align="center">Expiration date</th>  
      <th text-align="center">Show</th>
      <th text-align="center">Edit</th>
      <th text-align="center">Delete</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td text-align="center"><%= image_tag  material.avatar.url(:thumb) , class: "thumbnail" %></td>
        <td><%= material.name %></td>
        <% quantity=Quantity.find_by(id: material.quantity_id )%>
        <td><%= quantity.unit_name %></td>
        <td><%= material.quantity_value %></td>
        <td><%= material.price %></td>
        <td><%= material.Min_Number %></td>
        <td><%= material.stockNo %></td>
        <td><%= material.shelfNo %></td>
        <td><%= material.production_date %></td>
        <td><%= material.expiration_date %></td>      
        <td><%= link_to 'Show', material, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_material_path(material), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


