<style>
.thumbnail{
    width: 200px;
    height: 200px;
}
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Serial_Number:</strong>
  <%= @material.serial_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @material.quantity_value %>
</p>

<p>
  <strong>Price:</strong>
  <%= @material.price %>
</p>

<p>
  <strong>Min number:</strong>
  <%= @material.Min_Number %>
</p>

<p>
  <strong>Stockno:</strong>
  <%= @material.stockNo %>
</p>

<p>
  <strong>Shelfno:</strong>
  <%= @material.shelfNo %>
</p>

<p>
  <strong>Production date:</strong>
  <%= @material.production_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @material.expiration_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @material.quantity.unit_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @material.avatar.url, class: "thumbnail" %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
