<!DOCTYPE html>
<html>
<head>
  <title>GP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<% if logged_in? %> 
		<%= link_to 'Logout', logout_path, method: "delete" %>
		<% if current_category.category == "HR" %>
			<ul class="nav nav-tabs">
			  <li class="active"><%= link_to 'Add Employee', new_employee_path %></li>
			  <li><%= link_to 'All Employee', employees_path %></li>
			  <li><%= link_to 'Add Crew', new_crew_path %></li>
			  <li><%= link_to 'All Crews', crews_path %></li>
			</ul>
		<% end %>
		<% if current_category.category == "Sales" %>
			<ul class="nav nav-tabs">
			  <li class="active"><%= link_to 'All Panels', solar_panels_path %></li>
			  <li><%= link_to 'All Materials', materials_path %></li>
			  <li><%= link_to 'Add Material', new_material_path %></li>
			  <li><%= link_to 'All Spare Parts', spare_parts_path %></li>
			  <li><%= link_to 'Add Spare Part', new_spare_part_path %></li>
			  <li><%= link_to 'All Vendors', vendors_path %></li>
			  <li><%= link_to 'Add Vendor', new_vendor_path %></li>
			  <li><%= link_to 'All Machines ', machines_path %></li>
			  <li><%= link_to 'Add Machines ', new_machine_path %></li>
			  <li><%= link_to 'All Palets', containers_path %></li>
			  <li><%= link_to 'Add Palet', new_container_path %></li>
                           <li><%= link_to 'prices', lookup_prices_path %></li>
			</ul>
		<% end %>
                  
                <% if current_category.category == "Shift Manager" %>
			<ul class="nav nav-tabs">
                         <li class="active"><li><%= link_to 'Home', crew_home_path %></li>
			 <li class="active"><li><%= link_to 'Start Shift', shifts_showstartshift_path %></li>
			 <li class="active"><li><%= link_to 'End Shift', shifts_showendshift_path %></li>
                         <li class="active"><li><%= button_to  'Add Produced Product',new_solar_panel_path ,method: :get %></li>
                         <li class="active"><li><%= link_to 'Order Request', new_production_shift_path %></li>
                         <li class="active"><li><%= link_to 'Reports', new_solar_panel_path %></li>

			</ul>

		<% end %>
                  

                 


		<% if current_category.category == "Stock Keeper" %>
		<ul class="nav nav-tabs">
			<li><%= link_to 'All Materials', materials_path %></li>
			 <li><%= link_to 'Un accepted requests', spare_parts_path %></li>
			 <li><%= link_to 'All Spare Parts', spare_parts_path %></li>

		</ul>
 
		<% end %>

	<% end %>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

<div class="container">
<%= yield %>
</div>
</body>
</html>
