<!DOCTYPE html>
<html>
<head>
  <title>GP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<style>
.thumbnail{
  width: 60px;
  height: 60px;
  margin-left: 90px; 
}
</style>
	<% if logged_in? %> 

	    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
	    <div id="sidebar-wrapper">
	        <ul class="sidebar-nav">
	            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
	            <li class="sidebar-brand"><a href="#">First Company</a></li>
	            <li><%= link_to current_user do %> 
                        <%= image_tag current_user.image.url(:thumb), class: "thumbnail"%>
                    <% end %>
                    <strong><%= link_to current_user.full_name, current_user %></strong>

                </li>
                <li><%= link_to ' Profile setting', edit_employee_path(current_user) , class: "glyphicon glyphicon-cog"%></l>
                <li><%= link_to ' Logout', logout_path, method: "delete" , class: "glyphicon glyphicon-arrow-left" %>
	            </li>
	            <hr>
	            <% if current_category.category == "HR" %>
				  <li><%= link_to ' Add Employee', new_employee_path , class: "glyphicon glyphicon-user" %></li>
				  <li><%= link_to ' All Employee', employees_path , class: "glyphicon glyphicon-list-alt" %></li>
				  <li><%= link_to ' Add Crew', new_crew_path , class: " glyphicon glyphicon-plus"%></li>
				  <li><%= link_to ' All Crews', crews_path , class: "glyphicon glyphicon-list-alt"%></li>
				<% end %>

				<% if current_category.category == "Sales" %>
				  <li><%= link_to ' All Panels', solar_panels_path , class: "glyphicon glyphicon-th-list" %></li>
				  <li><%= link_to ' All Materials', materials_path , class: "glyphicon glyphicon-th-list"%></li>
				  <li><%= link_to ' Add Material', new_material_path , class: " glyphicon glyphicon-plus" %></li>
				  <li><%= link_to ' All Spare Parts', spare_parts_path , class: "glyphicon glyphicon-th-list"%></li>
				  <li><%= link_to ' Add Spare Part', new_spare_part_path , class: " glyphicon glyphicon-plus" %></li>
				  <li><%= link_to ' All Vendors', vendors_path , class: "glyphicon glyphicon-th-list"%></li>
				  <li><%= link_to ' Add Vendor', new_vendor_path , class: " glyphicon glyphicon-plus" %></li>
				  <li><%= link_to ' All Machines ', machines_path, class: "glyphicon glyphicon-th-list" %></li>
				  <li><%= link_to ' Add Machine', new_machine_path , class: " glyphicon glyphicon-plus" %></li>
				  <li><%= link_to ' All Palets', containers_path, class: "glyphicon glyphicon-th-list" %></li>
				  <li><%= link_to ' Add Palet', new_container_path ,class: " glyphicon glyphicon-plus" %></li>
				  <li><%= link_to ' Add Buyer', new_buyer_path , class: "glyphicon glyphicon-user"%></li>
				  <li><%= link_to ' All Soled Panels', sold_panels_path , class: "glyphicon glyphicon-th-list" %></li>
				  <li><%= link_to ' Order panel', new_sold_panel_path , class: "glyphicon glyphicon-check" %></li>
	              <li><%= link_to ' prices', lookup_prices_path , class: "glyphicon glyphicon-question-sign"%></li>
				<% end %>
	              
		        <% if current_category.category == "Shift Manager" %>
	                <li><%= link_to ' Home', crew_home_path, class: "glyphicon glyphicon-home" %></li>
					<li><%= link_to ' Start Shift', shifts_showstartshift_path , class: "glyphicon glyphicon-time"%></li>
				 	<li><%= link_to ' End Shift', shifts_showendshift_path , class: "glyphicon glyphicon-dashboard" %></li>
	                <li><%= link_to  ' Add Produced Product',new_solar_panel_path ,method: :get ,class: " glyphicon glyphicon-plus" %></li>
	                <li><%= link_to 'Order Request', new_production_shift_path , class: "glyphicon glyphicon-check" %></li>
	                <li><%= link_to 'Current Shift', shifts_currentshift_path %></li>
	                <li><%= link_to 'My Shifts', shifts_path %></li>
				<% end %>
	            
				<% if current_category.category == "Stock Keeper" %>
					<li><%= link_to ' All Materials', materials_path , class: "glyphicon glyphicon-th-list" %></li>
					<li><%= link_to ' Un accepted requests', production_shifts_path , class: "glyphicon glyphicon-indent-left"%></li>
					<li><%= link_to ' All Spare Parts', spare_parts_path, class: "glyphicon glyphicon-th-list" %></li>
				<% end %>
			</ul>
	<% end %>

       
    </div>
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

<%= yield %>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
</body>


</html>
