<%= form_for(@buyer_phone) do |f| %>
  <% if @buyer_phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buyer_phone.errors.count, "error") %> prohibited this buyer_phone from being saved:</h2>

      <ul>
      <% @buyer_phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buyer_id %><br>
    <%= f.text_field :buyer_id %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
