<%= form_tag("/production_shifts/", :method => "post")%>
<div class="container" style="width: calc(60%);">
    <h1 class="page-header" style="font-size:30px;;color:#2A4E6E"> <span class="fa fa-check-square-o"></span> Ordering Material</h1>
    <section class="register">
      <div class="form-group reg_section ">
        <h1>Choose Materials</h1>
        <table class="table table-responsive">
           <thead>
            <tr>
              <h3><th>Material</th></h3>
              <h3><th>Value</th></h3>
            </tr>
           </thead>
<tbody>
           <% @materials.each do |material| %>
            <tr >
              <td>
                <%= check_box_tag  "material_id[]", material.id,false,options={:onchange=>'matvalue(this)',:id => "material_id_#{material.id}_#{material.name}"} %> 
                <%= material.name %>
              </td>
              <td>
                <%= number_field_tag  material.id , nil, options = {:placeholder=> "Enter the required quantity  ",:style => "display:none;width:200px"}%>
              </td>
              
            
            </tr>
              <%= hidden_field_tag "hidden" %>
              <%= hidden_field_tag "manager", current_user.full_name  %>
              <%= hidden_field_tag "shift_id",current_shift.id %>
          <% end %>
        </tbody>
        </table>
        <%= submit_tag("Complete order", :class=>"btn btn-warning",:id=>"order",disabled: true) %>
      </div>
  </section>
</div>

<script>
index_checked=0; //to enable submit button
var field_id;
var manager=$("#manager").val();
var shift_id;
  
function matvalue(ptr){
  
   field_id=ptr.id.split("_")[2];
   

  var name=ptr.id.split("_")[3];
  
 
  var prev=$("#hidden").val();
  if(ptr.checked==true){
    index_checked+=1;
    $("#"+field_id).show();
    $("#"+field_id).attr("required", "true");
    $("#"+field_id).attr("min", "1");
    $("#"+field_id).keyup(function(){
      $("#hidden").val(prev+"_"+name+","+$("#"+field_id).val()+","+field_id);
    });
    

  }
  else if(ptr.checked==false){
    index_checked-=1;
    $("#"+field_id).hide();
    $("#"+field_id).removeAttr("required");
    $("#"+field_id).removeAttr("min");   
  }
  if (index_checked > 0) {
    $("#order").removeAttr('disabled');
  } else{
    $("#order").attr('disabled','disabled');
  };
}





window.dispatcher = new WebSocketRails('localhost:3000/websocket');

window.enjoy=dispatcher.subscribe ("yoyo");
alert("here");
$("#order").click(function(){
  shift_id=$("#shift_id").val();
  console.log(shift_id);
  var array=$("#hidden").val().split("_");
  var sent="";
  for(i=1;i<array.length;i++){
    sent=sent+"<tr id="+shift_id+"><td>"+manager+"</td><td>"+array[i].split(",")[0]+"</td><td>"+array[i].split(",")[1]+"</td><td><button class='btn btn-primary' onclick='accept(this)' id="+array[i].split(",")[0]+"_"+array[i].split(",")[1]+"_"+array[i].split(",")[2]+">accept</button></td></tr>"

  }
	
enjoy.trigger ('order',sent);




});



</script>