<p id="notice"><%= notice %></p>

<p>
  <strong>Material:</strong>
  <%= @production_shift.material %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @production_shift.shift %>
</p>

<p>
  <strong>Material quantity:</strong>
  <%= @production_shift.material_quantity %>
</p>

<%= link_to 'Edit', edit_production_shift_path(@production_shift) %> |
<%= link_to 'Back', production_shifts_path %>
