
<div class="container" style="width: calc(70%);">

	<h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-list"></span> All Containers</h1>
<section class="register" >  
  <div class="reg_section">
		  <table class="table table-hover table-responsive">
		   <thead>
		      <tr>
		        <th class="text-center"><h1>Serialno</h1></th>
		        <th class="text-center"><h1>Capacity</h1></th>
		        <th class="text-center"><h1>Price</h1></th>
		        <th class="text-center"><h1>Total power</h1></th>
		        <th class="text-center"><h1>Show</h1></th>
		        <th class="text-center"><h1>Edit</h1></th>
		      </tr>
		    </thead>
			<tbody>
		        <% i=0 %>
				<% @containers.each do |container| %>
				    <tr >
				      <td class="text-center"><%= container.serialNo %></td>
				      <td class="text-center"><%= container.capacity %></td>
				      <td class="text-center"><%= container.price %></td>
				      <td class="text-center"><%= container.total_power %></td>
				      <td class="text-center"><%= link_to 'Show', container, class:"btn btn-info" %></td>
				      <td class="text-center"><%= link_to 'Edit', edit_container_path(container), class:"btn btn-danger" %></td>
				      <td data-toggle="collapse"  data-target=".demo<%=i%>" class="text-center,accordion-toggle">
		                       
                                         <button  class="mycrtbtn ,btn btn-danger , fa fa-plus" ></button>
                                      
		              </td>            
				    </tr>
		              
		              <tr>
		               <td  colspan="12" style="border:0px">     
		                    
			                    <table class="table table-stripped", style="text-align:center;" >
							  		<thead >
									    <tr class="collapse , demo<%=i%> success">
										    <td><h3>serialNo</h3></td>
											<td><h3>production_date</h3> </td>
											<td><h3>Type</h3></td>
											<td><h3>Sub Type</h3></td>	
											<td><h3>Cells no.</h3></td>  
											<td><h3>power</h3></td>
				                                
						              	</tr>
							    	</thead> 
				                    <tbody>
									    <% container.solar_panels.each do |solar_panel| %>
									      <tr class="collapse , demo<%=i%> success"> 
										      <td ><%= solar_panel.serialNo%> </td>  	
							                  <td><%= solar_panel.production_date %></td>                  
											  <td ><%= solar_panel.celltype %> </td>
											  <td ><%= solar_panel.subtype%> </td>	              
											  <td > <%= solar_panel.cellno %></td> 
											  <td ><%= solar_panel.power %></td>
				                               
							     		  </tr>  
							    		<% end %> 
				                    </tbody> 
			                    </table>
		               </td>
		             </tr>
					 <% i=i+1 %>
		             <% end %>
		        </tbody>
		</table>
	</div>
</section>
<%= will_paginate @containers, renderer: BootstrapPagination::Rails %>

</div>
  
<script>


$(".mycrtbtn" ).click(function() {

 if($( this ).hasClass("fa fa-plus")){

$( this ).removeClass("fa fa-plus").addClass("fa fa-minus");
} 
else if($( this ).hasClass("fa fa-minus")){
$( this ).removeClass("fa fa-minus").addClass("fa fa-plus");

} 
});

</script>
