<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @container.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @container.height %>
</p>

<p>
  <strong>Serialno:</strong>
  <%= @container.serialNo %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @container.capacity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @container.price %>
</p>

<p>
  <strong>Total power:</strong>
  <%= @container.total_power %>
</p>
================================================================================
<% @container.solar_panels.each do |solarpanel| %>
  <p>
    <strong>Production Date:</strong>
    <%= solarpanel.production_date %>
  </p>
 <p>
    <strong>Height:</strong>
    <%= solarpanel.height %>
  </p>
  <p>
    <strong>Width:</strong>
    <%= solarpanel.width %>
  </p>
  <p>
    <strong>power:</strong>
    <%= solarpanel.power %>
  </p>
 
  <p>
    <strong>cell type:</strong>
    <%= solarpanel.celltype %>
  </p>
  <p>
    <strong>sub type:</strong>
    <%= solarpanel.subtype %>
  </p>
  <p>
    <strong>price:</strong>
    <%= solarpanel.price %>
  </p>
  <p>
    <strong>serial No:</strong>
    <%= solarpanel.serialNo %>
  </p>
  <p>
    <strong>number of cells:</strong>
    <%= solarpanel.cellno %>
  </p>
  
 
****************************************
<% end %>

