<div class="container" style="width: calc(70%);">
  
      <h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-info-circle"></span> Container Information</h1>

  <div class="row">

      
<section class="register" >  
  <div class="reg_section">
    <h3><span class="fa fa-info-circle"></span> Basic Infromation</h3>
    <ul class="list-group">
      <li class="list-group-item"><span class="fa fa-arrows-h"></span> Width: <%= @container.width %></li>
      <li class="list-group-item"><span class="fa fa-arrows-v"></span> Height: <%= @container.height %></li>
      <li class="list-group-item"><span class="fa fa-sort-numeric-asc"></span>  Serial No.: <%= @container.serialNo %></li>
      <li class="list-group-item"><span class="fa fa-sort-numeric-asc"></span>  Capacity.: <%= @container.capacity %></li>
    </ul>
  </div>

  <div class="reg_section"> 
      <h3><span class="fa fa-bolt"></span> Power and Price</h3>
  
    <ul class="list-group">
      <li class="list-group-item"><span class="fa fa-bolt"></span> Power: <%= @container.total_power %></li>
      <li class="list-group-item"><span class="fa fa-usd"></span> Price: <%= @container.price %></li>
    </ul>
  </div>

   <div class="reg_section"> 
      <h3><span class="fa fa-user"></span> Vendor</h3>
  
    <ul class="list-group">
      <% @container_vendor = VendorContainer.where("container_id=?", @container.id).order(updated_at: :desc)[0] %>
      <% vendor = Vendor.find_by(id: @container_vendor.vendor_id) %>
      <li class="list-group-item"><span class="fa fa-user"></span>  Vendor Name: <%= vendor.name %></li>
    </ul>
  </div>
 </section>
 </div>
 </div>
