
<style>
#error_explanation {
  color: red;
  background-color: white;
  border: white;
}

.field_with_errors {
    background-color: white;
}

</style>

<%= form_for(@employee) do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@employee.errors.count, "error") %>.
         <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
     
    </div>
  <% end %>
 
  <% if @flag_new==1 %>
    <h1 class="page-header text-primary">Add Employee</h1>
  <% end %>


  <% if @flag_new==0 %>
    <h1 class="page-header text-primary">Edit Employee</h1>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' , placeholder: "Enter First Name" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' , placeholder: "Enter Last Name" %>
  </div>
  <div class="form-group">
    <%= f.label :salary %><br>
    <%= f.text_field :salary, class: 'form-control' , placeholder: "Enter Salary" %>
  </div>
  <div class="form-group">
    <%= f.label :education_level %><br>
    <%= f.text_area :education_level, class: 'form-control' , placeholder: "Enter Education Level" %>
  </div>
  <div class="form-group">
    <%= f.label :Governamental_ID %><br>
    <%= f.text_field :Governamental_ID, class: 'form-control' , placeholder: "Enter Governamental_ID" %>
  </div>
  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, class: 'form-control' , placeholder: "Enter Position" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, options_from_collection_for_select(Category.all , 'id' , 'category')) %>
  </div>
  <% if @flag_new==1  %>
    <div id="notnormal">
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'form-control' , placeholder: "Enter Password" %>
      </div>
      <div class="form-group">
        <%= f.label :user_name %><br>
        <%= f.text_field :user_name, class: 'form-control' , placeholder: "Enter User Name Which Login with it" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :crew_id %><br>
    <%= f.select(:crew_id, options_from_collection_for_select(Crew.all, 'id' ,'id')) %>
  </div>
  <%= f.file_field :image %>
  <br>
  <div class="actions">
    <%= f.submit :submit, class: "btn btn-primary" %>
  </div>
<% end %>



<script type="text/javascript">
 var category = document.getElementById('employee_category_id');
  if (category) {
   target = document.getElementById('notnormal'); //div of input password
   if (category.text == 'Normal') target.style.display='none';
   category.onchange=function() {
    var type = category.options[document.getElementById('employee_category_id').selectedIndex].text;
    if (type == 'Normal') {
                     target.style.display = 'none';
                  } else {
              target.style.display= '';
    }
   }
  }
 </script>