<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@employee.errors.count, "error") %>.
         <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div> 
    </div>
  <% end %>


  <section class="register">
      <div class="form-group reg_section ">
        <% if (@employee.id==current_user.id)%>


                   <h3>Password</h3>
                    <%= f.password_field :password, class: 'w' , placeholder: "Enter Password" %>
                    <h3>Confirmation Password</h3>
                    <%= f.password_field :password_confirmation, class: 'w',  placeholder: 'Confirm your password here'%>
                    <h3>Email</h3>
                    <%= f.email_field :email, class: 'w' , placeholder: "Enter Email" %>


              
              <%= fields_for :employee_phones do |p| %>
                <%= phonn = '' %>
                <% if @phones.blank? %>
                    <p> <%= phonn = '' %> </p>
                     <h3>Phone</h3>
                     <%= p.text_field :phone , id:"phone", value:"",class: "w", readonly: true %><br>
                <% else %>
                   <% @phones.each do |f| %>
                      <p> <% phonn = phonn + f.phone + ',' %> </p>
                   <% end %>
                   <%= p.text_field :phone , id:"phone",class: "w", value: phonn , readonly: true %>  <a href="#" onclick="del(<%=@employee.id %>)">Delete Phone</a> <br>
                <% end %> 
              <% end %>
         
              <a href="#" onclick="add()" >Add Phone</a>

          <div id="phones">    
          </div>

          <div id="phonedel">
          </div>



        <% else %>
          <h1>Personal Information</h1>
      
            <h3>Full Name</h3>
            <%= f.text_field :full_name,class: "w", placeholder: "Enter Full Name" %>

            <% if @flag_new == 1 %>
                <h3>Education Level</h3>
                <%= f.select(:education_level ,options_for_select([["High","High"],["Meduim","Meduim"]],2 ))  %>
            <% end %>

            <% if @flag_new == 0 %>
                <h3>Education Level</h3>
                <%= f.select(:education_level ,options_for_select([["High","High"],["Meduim","Meduim"]],@employee.education_level ))  %>
            <% end %>

            <h3>Education</h3>
            <%= f.text_field :education ,class: 'w' , placeholder: "Enter Education"   %>

            <h3>Governamental ID</h3>
            <%= f.text_field :Governamental_ID, class: 'w' , placeholder: "Enter Governamental_ID" %>

            <% if @flag == "new" %> 
                <%= fields_for :employee_phones do |p| %>   
                   <h3>Phone</h3>
                   <%= p.text_field :phone , id:"phone", value:"" ,class: "w", readonly: true %><br>
                <% end %>

            <%else %>
              <%= fields_for :employee_phones do |p| %>
                <%= phonn = '' %>
                <% if @phones.blank? %>
                    <p> <%= phonn = '' %> </p>
                     <h3>Phone</h3>
                     <%= p.text_field :phone , id:"phone", value:"",class: "w", readonly: true %><br>
                <% else %>
                   <% @phones.each do |f| %>
                      <p> <% phonn = phonn + f.phone + ',' %> </p>
                   <% end %>
                   <%= p.text_field :phone , id:"phone",class: "w", value: phonn , readonly: true %>  <a href="#" onclick="del(<%=@employee.id %>)">Delete Phone</a> <br>
                <% end %> 
              <% end %>
          <%end %>

          <a href="#" onclick="add()" >Add Phone</a>

          <div id="phones">    
          </div>

          <div id="phonedel">
          </div>

          <h3>User Photo</h3>
          <%= f.file_field :image %><br>
        </div>

        <div class="form-group reg_section ">
          <h1>Work Information</h1>    
            <h3>Salary</h3>
            <%= f.text_field :salary, class: 'w' , placeholder: "Enter Salary" %>

            <% if @flag_new == 0 %>
                <p><strong>Category : </strong><p>
                <p>
                    <%= Category.find_by(:id => @category_id).category %>
                </p>
            <% end %> 

            <% if @flag_new == 1 %>
                <h3>Category</h3>
                <%= f.select(:category_id, options_from_collection_for_select(Category.all , 'id' , 'category')  )%>

                <div id="notnormal">
                    <h3>Password</h3>
                    <%= f.password_field :password, class: 'w' , placeholder: "Enter Password" %>
                    <h3>Confirmation Password</h3>
                    <%= f.password_field :password_confirmation, class: 'w',  placeholder: 'Confirm your password here'%>
                    <h3>Email</h3>
                    <%= f.email_field :email, class: 'w' , placeholder: "Enter Email" %>
                </div>
            <% end %>

        <% end %>

          
            <div class="actions">
                <br>
                <%= f.submit class: 'btn btn-success' %>
            </div> 
      </div>    
  </section>
  
<% end %>  




<script type="text/javascript">
    var category = document.getElementById('employee_category_id');
    if (category) {
       target = document.getElementById('notnormal'); //div of input password
       if (category.text == 'Normal') target.style.display='none';
       category.onchange=function() {
          var type = category.options[document.getElementById('employee_category_id').selectedIndex].text;
          if (type == 'Normal') {
             target.style.display = 'none';
          } 
          else {
              arget.style.display= '';
          }
       }

      }


      var x=1;
var counter=0;
var allValues = '';
var temp = "";
allValues=$( "#phone" ).val().slice(0,-1);

var add = function() {
  if (counter === 0 ) {
         counter =  1;
        $('#phones').append('<input type="text" id="'+x+'" />' ).append( '<input type="button" id="OK" value="ok" />' );
        x=x+1;
        $( "#OK" ).click(function() {
      var value = $("#1").val();
        
         // if (isNaN(value) || value < 1){
         	
         	re=/\(?(\+?[0-9]{2})\)?([ -]?)([0-9]{2})\2([0-9]{1})/;
            if (re.test(value)) {
               if (allValues != ''){
            allValues =  allValues + ',' + value
            
        }else{
          allValues =  allValues + value    
        }
        $("#phone").val(allValues);
        $("#1").val('');
            
        }else{
          alert('Please enter a valid phone number ');
             
        }

       });


    }
 
};

var del = function(employeeid) {

    var length_of_num = 0;
    var index =0;
   allValues = $("#phone").val();
   $("#phone").val('');
   var arr = allValues.split(",");

  for (var i=0 ; i< arr.length-1 ; i++){
     var div=document.createElement("div");
     var elem = document.createElement("input");
                 elem.id =i;
                 elem.type = 'button';
                 elem.value = 'x'; 
     div.id= i;
     div.value=arr[i];
                 div.innerHTML = arr[i];
                 elem.onclick=function(){
                   var el = document.getElementById(this.id);
                   var dataString = el.value;
               
                   allValues = allValues.replace(dataString + ',', ""); 
        $.ajax({
      method: "POST",
      url: '/delPhon',
        dataType: "JSON",
        data: { "phone": dataString},
        complete: function(data)
        { 
           el.parentNode.removeChild( el );
        }
      });
         };

        div.appendChild(elem);
        document.getElementById('phonedel').appendChild(div);
  }
};





 </script>
