<br>
  <table class="table table-striped">
        <thead>
          <tr>
            <th text-align="center">Image</th>
            <th text-align="center">Full Name</th>
            <th text-align="center">User Name</th>
            <th text-align="center">Salary</th>
            <th text-align="center">Houre Rate</th>
            <th text-align="center">Education Level</th>
            <th text-align="center">Governamental ID</th>
            <th text-align="center">Position</th>
            <th text-align="center">Category</th>
            <th text-align="center">Crew</th>
            <th text-align="center">Show</th>
            <th text-align="center">Edit</th>
        

          </tr>
        </thead>
        <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td text-align="center"><%= image_tag employee.image.url(:thumb) , class: "thumbnail" %></td>
            <td><%= employee.full_name %></td>
            <td><%= employee.user_name %></td>
            <td><%= employee.salary %></td>
            <td><%= employee.houre_rate %></td>
            <td><%= employee.education_level %></td>
            <td><%= employee.Governamental_ID %></td>
            <td><%= employee.position %></td>
            <% category=Category.find_by(id: employee.category_id )%>
            <td><%= category.category %></td>
            <td><%= employee.crew_id %></td>
            <td><%= link_to 'Show', employee , class:"btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_employee_path(employee), class:"btn btn-default" %></td>
           
          </tr>
          <% end %>
      </table>

