<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @employee.image.url(:thumb) %>
</p>
<p>
  <strong>Full name:</strong>
  <%= @employee.full_name %>
</p>

<% category=Category.find_by(id: @employee.category_id )%>
<% if (category.category!="Normal") %>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>
<%end %>
<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @employee.education_level %>
</p>

<p>
  <strong>Education:</strong>
  <%= @employee.education %>
</p>

<p>
  <strong>Governamental id:</strong>
  <%= @employee.Governamental_ID %>
</p>



<p>
  <strong>Category:</strong>
  <% category=Category.find_by(id: @employee.category_id )%>
  <%= category.category %>
</p>
<% if (@employee.crew_id!=nil) %>
<p>
  <strong>Crew:</strong>
  <% crew=Crew.find_by(id: @employee.crew_id )%>
  <%= crew.name %>
</p>
<% end %>
<% if (@employee_phones.count!=0) %>
<strong>Phones:</strong>
  <% index = 1%>
    <% @employee_phones.each do |employeephone| %>
      <p>
        <strong><%=index%>-<%= employeephone.phone %></strong>      
          <%index+=1%>
      </p>
    <%end%>   
</p>
<% end %>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
