<div class="container">
    <div class="row">
    <span class="glyphicon glyphicon-search"></span>
      <div class="col-md-2">
          <br><br><br><br><br><br>
          <%= image_tag @employee.image.url(:thumb) %>
      </div>

      <div class="col-md-10">
          <h1 class="page-header"> <span class="glyphicon glyphicon-list-alt"> </span> Personal Info </h1> 

            <ul class="list-group">
              <li class="list-group-item" > <span class=" glyphicon glyphicon-cloud"> </span><strong> Name: </strong> <%= @employee.full_name %></li>
              <% category=Category.find_by(id: @employee.category_id )%>
              <% if (category.category!="Normal") %>
                 <li class="list-group-item"><strong>Email: </strong><%= @employee.email %></li>
              <%end %>
             
              <li class="list-group-item"> <strong>Education level:</strong>  <%= @employee.education_level %></li>

              <li class="list-group-item"><strong>Education:</strong><%= @employee.education %></li>
              <li class="list-group-item"><strong>Governamental id:</strong> <%= @employee.Governamental_ID %> </li>

              <li class="list-group-item"> <strong>Category:</strong>
               <% category=Category.find_by(id: @employee.category_id )%>
               <%= category.category %>
              </li>

              <% if (@employee.crew_id!=nil) %>
                <li class="list-group-item"> <strong>Crew:</strong>  
                    <% crew=Crew.find_by(id: @employee.crew_id )%>
                    <%= crew.name %>
                </li> 
               <% end %>


              <% if (@employee_phones.count!=0) %>
                <li class="list-group-item"> <strong>Phones:</strong>
                    <% @employee_phones.each do |employeephone| %>
                      <%= employeephone.phone %>
                    <%end%>   
              <% end %>

            </ul>   
      </div>
    </div>    
</div>