
<h1>current shift</h1>
<p><strong>shiftmanager:</strong><%= @shift.employee.full_name %></p>
<p><strong>crew name:</strong><%= @shift.crew.name %></p>
<p><strong>start_shift_date:</strong><%= @shift.start_shift_date %></p>
<p><strong>start_shift_time:</strong><%= @shift.start_shift_time %></p>
<p><strong>No.of produced panel:</strong><%= @shift.production_rate %></p>
<p><strong>crew members:</strong></p>
<% if @crew_name.blank? %>
  <p>There are no members...Please add them</p>
<% else %>
   <% @crew_name.each do |f| %>
    <p><%= f.full_name %></p>
  <% end %>
<% end %>        

         <table class="table table-striped">
		<thead>
			<tr>
			<th text-align="center">production_date</th>
			<th text-align="center">height</th>
			<th text-align="center">width</th>
			<th text-align="center">power</th>
			<th text-align="center">celltype</th>
			<th text-align="center">subtype</th>
                        <th text-align="center">price</th>
                        <th text-align="center">serialNo</th>
                        <th text-align="center">cells no.</th>  
         		<th text-align="center">price</th>  
         		<th text-align="center">power</th>  
         		<th text-align="center">Edit</th>  
         		

                         </tr>

		</thead>
            <tbody>
	    <tr>
           	<% @shift.solar_panels.each do |solar_panel| %>  
		    <td><%= solar_panel.production_date %></td>
                    <td><%= solar_panel.height %></td>
                    <td><%= solar_panel.width %></td>
                    <td><%= solar_panel.power %></td>
                    <td><%= solar_panel.celltype %></td>
                    <td><%= solar_panel.subtype%></td>
                    <td><%= solar_panel.price %></td>
                    <td><%= solar_panel.serialNo%></td>                
                    <td><%= solar_panel.cellno %></td> 
		    <td><%= solar_panel.price %></td>
		    <td><%= solar_panel.power %></td>
                    <td><%= button_to 'Edit', edit_solar_panel_path(solar_panel),method: :get %></td>
		  </p>

      </tr> 
                <% end %>
		
             </tr>   
          </tbody>    

</table>

<div class="container">
<h1 class="page-header"> New SolarPanel </h1>
<%= form_for(@solar_panel) do |f| %>
 <section class="register">

 <% if current_category.category == "Shift Manager"  %>
      
      <div class="form-group reg_section">
        <h1>Solar Panel Dimensions</h1>
        <h3> height </h3>
        <%= f.number_field :height ,min:"1",step:0.01 ,required:true ,class: 'field' %>
             <% if @solar_panel.errors[:height].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:height].each do |msg| %>
		                          <p><%= "* height "+msg %><p>
				<%end%> 
                           </div>
       	      <% end %>
        <h3> width </h3>
        <%= f.number_field :width,min:"1" ,step:0.01 ,required:true ,class: 'field' %>
            <% if @solar_panel.errors[:width].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:width].each do |msg| %>
		                          <p><%= "* width "+msg %><p>
				<%end%> 
                           </div>
       	      <% end %>

      </div>
      <div class="form-group reg_section"> 
	      <h1>Solar Panel BasicInformation</h1>
		<h3>production_date </h3>
                     <div class="form-group reg_section">
		         <%= f.date_select :production_date %>
                         <% if @solar_panel.errors[:production_date].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:production_date].each do |msg| %>
		                          <p><%= "* production_date "+msg %><p>
				<%end%> 
                           </div>
       	                 <% end %>

                     </div> 
    	        <h3> power </h3>
		    <%= f.number_field :power ,min:"0",step:0.001 ,required:true ,class: 'field' %>
                        <% if @solar_panel.errors[:power].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:power].each do |msg| %>
		                          <p><%= "* power "+msg %><p>
				<%end%> 
                           </div>
       	                 <% end %>
	        <h3>Noofcells </h3>
		    <%= f.number_field :cellno ,min:"0",step:1 ,required:true ,class: 'field' %>
                    <% if @solar_panel.errors[:cellno].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:cellno].each do |msg| %>
		                          <p><%= "* cellNo. "+msg %><p>
				<%end%> 
                           </div>
       	             <% end %>
	        <h3> type </h3>
		    <%= f.select :celltype , [['mono crystaline', 'mono crystaline'], ['poly crystaline','poly crystaline']] %>
                       <% if @solar_panel.errors[:celltype].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:celltype].each do |msg| %>
		                          <p><%= "* celltype. "+msg %><p>
				<%end%> 
                           </div>
       	             <% end %>
	        <h3> subtype </h3>
		    <%= f.select :subtype , [['two pathpar','two pathpar'],['three pathpar','three pathpar']] %>
                    <% if @solar_panel.errors[:subtype].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:subtype].each do |msg| %>
		                          <p><%= "* subtype. "+msg %><p>
				<%end%> 
                           </div>
       	             <% end %> 
	        <h3> serialNo </h3>
		<%= f.text_field :serialNo ,required:true %>
	        <% if @solar_panel.errors[:serialNo].present? %>
		           <div class="text-danger">
				<% @solar_panel.errors[:serialNo].each do |msg| %>
		                          <p><%= "* serialNo. "+msg %><p>
				<%end%> 
                           </div>
       	         <% end %> 
      </div> 
       <div class="form-group reg_section"> 
	      <h1>Container Information</h1>
                  <h3>containerserialno <h3>  
                    
                  <%= f.select :container_id, @containersopt %>
       </div>
     
     
    <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
 </section>
<% end %>
</div>

</body>

