<p id="notice"><%= notice %></p>

<h1>Listing Shifts</h1>
<p id="notice"><%= notice %></p>
  <h1 align="center">
    <span class="page-header">My Shifts</span>
  </h1>
<div class="container" style="width: calc(100%);">
  <div class="well">
    <div class="table-responsive">
		<table class="table table-stripped">
		  <thead>
		    <tr>
		      <th>employee id</th>
		      <th>Crew</th>
		      <th>Start shift date</th>
		      <th>End shift date</th>
		      <th>Start shift time</th>
		      <th>End shift time</th>
		      <th>Production rate</th>
		      <th>Show</th>
		      <th>print report</th>
		    
		    </tr>
		  </thead>

		  <tbody>
                    <% i=0 %>
		    <% @shifts.each do |shift| %>   
		      <tr> 
			<td><%= shift.employee.id %></td>
			<td><%= shift.crew.name %></td>
			<td><%= shift.start_shift_date %></td>
			<td><%= shift.end_shift_date %></td>
			<td><%= shift.start_shift_time %></td>
			<td><%= shift.end_shift_time %></td>
			<td><%= shift.production_rate %></td>
			<td><%= link_to 'Show', shift %></td>
			<td><%= link_to "Download", report_path( :id => shift.id , :format => "pdf") %></td>
			<td data-toggle="collapse"  data-target=".demo<%=i%>" class="text-center,accordion-toggle">
				         <button type="button" class="btn btn-primary">  
				                    <span class="myglyphicon,glyphicon glyphicon-plus"></span> 
				          </button>
			</td>
		       
			 </tr>
		       <tr>
			<td  colspan="12" style="border:0px">
			<table class="table table-hover">
				<thead>
					<tr class="collapse , demo<%=i%>">
					<th text-align="center">production_date</th>
					<th text-align="center">height</th>
					<th text-align="center">width</th>
					<th text-align="center">power</th>
					<th text-align="center">celltype</th>
					<th text-align="center">subtype</th>
				        <th text-align="center">price</th>
				        <th text-align="center">serialNo</th>
				        <th text-align="center">cells no.</th>  
			 		<th text-align="center">price</th>  
			 		<th text-align="center">power</th>  
			 		<th text-align="center">Edit</th>  
			 		

				         </tr>

				</thead>
				    <tbody>
				    <tr class="collapse , demo<%=i%>" >
				   	<% shift.solar_panels.each do |solar_panel| %>  
					    <td><%= solar_panel.production_date %></td>
					    <td><%= solar_panel.height %></td>
					    <td><%= solar_panel.width %></td>
					    <td><%= solar_panel.power %></td>
					    <td><%= solar_panel.celltype %></td>
					    <td><%= solar_panel.subtype%></td>
					    <td><%= solar_panel.price %></td>
					    <td><%= solar_panel.serialNo%></td>                
					    <td><%= solar_panel.cellno %></td> 
					    <td><%= solar_panel.price %></td>
					    <td><%= solar_panel.power %></td>
					    <td><%= button_to 'Edit', edit_solar_panel_path(solar_panel),method: :get %></td>
				       
					  </p>

				     </tr> 
				     <% end %>
				   </td></tr>
				   <% i=i+1 %>
			       
		
			     </tr>   
			  </tbody>    
			  </table> 
			  
		    <% end %>
		  
		  </tbody>
		</table>
<%= will_paginate @shifts %>
<br>

 </div>
  </div>
</div>      

<br>
<script>
$('.collapse').on('shown.bs.collapse', function () {
   $(".myglyphicon").removeClass("glyphicon glyphicon-plus").addClass("glyphicon glyphicon-minus");

});

$('.collapse').on('hidden.bs.collapse', function () {
   $(".myglyphicon").removeClass("glyphicon glyphicon-minus").addClass("glyphicon glyphicon-plus");
});
</script>
