<p id="notice"><%= notice %></p>

<h1>Listing Shifts</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>employee id</th>
      <th>Crew</th>
      <th>Start shift date</th>
      <th>End shift date</th>
      <th>Start shift time</th>
      <th>End shift time</th>
      <th>Production rate</th>
      <th>Show</th>
      <th>Edit</th>
      <th>print report</th>
    
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>   
      <tr> 
        <td><%= shift.employee.id %></td>
        <td><%= shift.crew.name %></td>
        <td><%= shift.start_shift_date %></td>
        <td><%= shift.end_shift_date %></td>
        <td><%= shift.start_shift_time %></td>
        <td><%= shift.end_shift_time %></td>
        <td><%= shift.production_rate %></td>
        <td><%= link_to 'Show', shift %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <td><%= link_to "Download", report_path( :id => shift.id , :format => "pdf") %></td>
      </tr> 
      
		<% shift.solar_panels.each do |solarpanel| %>
		        <tr>  
	  	        <td><%= solarpanel.serialNo %></td>
		        <td><%= button_to 'Edit', edit_solar_panel_path(solarpanel),method: :get %></td>
		        </tr> 
		<% end %> 
          </tr>
    <% end %>
  
  </tbody>
</table>
<%= will_paginate @shifts %>
<br>
<script>
    $(".collapse").collapse()
</script>
<%= link_to 'New Shift', new_shift_path %>
