<h3></h3>
<div class="container">
<section class="register">
    <div class="form-group reg_section ">
    <h1><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Start Shift</h1>
  

		
		

<%= form_for @shift , :url=>shifts_startshift_path do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this start_shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      
	
    
     <h3 style="display:inline-block;">shift manager name:   </h3>
		  <p style="display:inline-block;"><%= current_user.full_name %> </p> 

	
        <div class="field">
          <h3> Enter crew names:  </h3>
	
	<%= f.select(:crew_id, @crews) %>
	</div>

  <%= f.hidden_field :start_shift_date , :value => Date.today %>
  <%= f.hidden_field :start_shift_time , :value => Time.now %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</section>
		
	
</div>

