<%= form_for(@crew) do |f| %>
  <section class="register">
    <div class="form-group reg_section ">
        <h1><span class="fa fa-info-circle"></span> Crew Information</h1>
        <h3>Crew Name</h3>
        <%= f.text_field :name, class: 'w' , placeholder: "Enter crew name" ,id: "crew"%>
        <% if @crew.errors[:name] %>
          <div class="text-danger">
            <ul>
              <% @crew.errors[:name].each do |msg| %>
                <li>*Crew Name <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <h3>Number of workers</h3>
          <%if( @clear==1 ) %>
              <%= f.text_field :no_of_workers, class: 'w' , placeholder: "Enter Numbers of workers" ,id: "no_of_workers" ,onkeyup: "addworkers()",value:""%>
          <% end %>
          <%if( @clear!=1 ) %>
              <%= f.text_field :no_of_workers, class: 'w' , placeholder: "Enter Numbers of workers" ,id: "no_of_workers" ,onkeyup: "addworkers()"%>
          <% end %>
        <div id="versionsDiv">
        </div>
        <div id="Div">
        </div>
        <br>
        <%= hidden_field_tag("workers", "", :id => "workers") %>
        <div class="actions">
          <%= f.submit :submit, class: 'btn btn-primary' ,disabled: @disabled, id:"btn" %>
        </div>
        <h1> <span class="fa fa-user"></span> Names of employees</h1>
        <div id="Woker_names">
          <% if @flag_new==0 %>
            <% @employees.each do |employee| %>
              <%= employee.full_name %> <br>
            <% end %>
          <% end %>
        </div>
        <p id="number_of_normal_workers" hidden><%= @number_of_normal_workers  %></p>
        <p id="workers_in_crews" hidden><%= @number_of_normal_workers  %></p>
      </div>
  </section> 
<% end %>

  
<script type="text/javascript">
    var counter = 0;
    var no_workers = 0 ;
    var ids = new Array(); 
    var Woker_names = document.getElementById("Woker_names");
    var number_of_normal_workers = document.getElementById("number_of_normal_workers").innerHTML;
  function addworkers () {
    document.getElementById("btn").disabled = true;
    Woker_names=document.getElementById("Woker_names");
    var myNode = document.getElementById("versionsDiv");
    myNode.innerHTML = ''; //to remove all select menus on key up 
    Woker_names.innerHTML = ''; //to clear div which appen workers name on it
    ids = []; //to clear array 
    counter = 0; //to reset couter
    document.getElementById("btn").disabled = true;
    no_workers = document.getElementById( "no_of_workers" ).value;
    if(no_workers)
    {
      if( no_workers % 1 === 0 )
      {
        if(Number(number_of_normal_workers) < Number(no_workers))
        {
          
          BootstrapDialog.alert(" The available number of workers only "+number_of_normal_workers+" so you can’t add "+ no_workers +" workers to this crew");
           document.getElementById( "no_of_workers" ).value= "";
        }
        else
        {
          var posting = $.get( "/crews/get_employees" );
          for(var i = 0 ; i < Number(no_workers) ; i++)
          {
            posting.done(function( data ) {
              $("#versionsDiv").append(data);
            });         
          }                                                  
        }
      }
      else
      {
        BootstrapDialog.alert("Please insert a number")
      }
    }  
    else
    {
      myNode.innerHTML = '';
    }
  } 


function get_value(elem){  //onchange function of select menu
  val = elem.value
  if( ids.indexOf(val)== -1 ) //check if employee is selected before
  {
    counter = counter + 1;
    ids.push(val) 
    elem.parentElement.style.display = 'none';
    var para = document.createElement("p");
    var node = document.createTextNode(elem.options[elem.selectedIndex].text);
    para.appendChild(node);
    document.getElementById("Woker_names").appendChild(para)
    workers = document.getElementById('workers');
    if(counter == no_workers)  
    {
      document.getElementById("btn").disabled = false;
      workers.value = ids.valueOf();
      console.log(workers);
    }

  }
  else
  {
      elem.parentElement.style.display = true;
      BootstrapDialog.alert("Employee is already in the crew");
  }
}
</script>

<%= javascript_include_tag "application" %>
