<style>
#error_explanation {
  color: red;
  background-color: white;
  border: white;
}

.field_with_errors {
    background-color: white;
}

</style>
<% if @flag_new==1 %>
    <h1 class="page-header text-primary">Add Crew</h1>
<% end %>
<% if @flag_new==0 %>
    <h1 class="page-header text-primary">Edit Crew</h1>
<% end %>
<%= form_for(@crew) do |f| %>
  <% if  @crew.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize( @crew.errors.count, "error") %>.
         <ul>
      <%  @crew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' , placeholder: "Enter crew name" ,id: "crew"%>
  </div>
 
  <div class="field">
    <%= f.label :no_of_workers %><br>
    <%= f.text_field :no_of_workers, class: 'form-control' , placeholder: "Enter Numbers of workers" ,id: "no_of_workers" ,onkeyup: "addworkers()"%>
  </div>
  <div id="versionsDiv">
  </div>
  <div id="Div">
  </div>
  <br>
  <%= hidden_field_tag("workers", "", :id => "workers") %>
  <div class="actions">
    

    <%= f.submit :submit, class: 'btn btn-primary' ,disabled: @disabled, id:"btn" %>
  </div>
<% end %>
  <h2 class="page-header text-primary">Names of employees</h2>
  <div id="Woker_names">
    <% if @flag_new==0 %>
          <% @employees.each do |employee| %>
              <%= employee.full_name %> <br>

          <% end %>

    <% end %>
  </div>
 
<script type="text/javascript">
var counter = 0;
var no_workers = 0 ;
var ids = new Array();  


function addworkers () {
  console.log("here");
  document.getElementById("btn").disabled = true;
  Woker_names=document.getElementById("Woker_names");
  Woker_names.innerHTML = '';
          ids = [];
          counter = 0;
  
          var myNode = document.getElementById("versionsDiv");
          myNode.innerHTML = '';
          no_workers = $( "#no_of_workers" ).val();
          console.log(no_workers);
          if(no_workers){
             if( no_workers % 1 === 0 ){
                var posting = $.get( "get_employees" );
                for(var i = 0 ; i < Number(no_workers) ; i++){
                   
                       posting.done(function( data ) {
                         $("#versionsDiv").append(data);
                    });         
                } 
              }
              else{
                alert("Please insert a number")
              }
          }else{
            myNode.innerHTML = '';
          }

    }


function get_value(elem){
   val = elem.value

   console.log(val);
  if( ids.indexOf(val)== -1 )
   {
       counter = counter + 1;
       ids.push(val) 
       elem.parentElement.style.display = 'none';
       var para = document.createElement("p");
       var node = document.createTextNode(elem.options[elem.selectedIndex].text);
       para.appendChild(node);
       document.getElementById("Woker_names").appendChild(para)
       workers = document.getElementById('workers');
       if(counter == no_workers)
       {
         document.getElementById("btn").disabled = false;
         workers.value = ids.valueOf();
         console.log(workers);
       }

    }else{
      elem.parentElement.style.display = true;
    alert("Employee is already in the crew");
   }
   



}
</script>

<%= javascript_include_tag "application" %>
