<p id="notice"><%= notice %></p>

<h1>Listing Saled Panels</h1>

<table>
  <thead>
    <tr>
      <th>Solar panel</th>
      <th>Buyer</th>
      <th>Totalprice</th>
      <th>Totalpower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saled_panels.each do |saled_panel| %>
      <tr>
        <td><%= saled_panel.solar_panel %></td>
        <td><%= saled_panel.buyer %></td>
        <td><%= saled_panel.totalPrice %></td>
        <td><%= saled_panel.totalPower %></td>
        <td><%= link_to 'Show', saled_panel %></td>
        <td><%= link_to 'Edit', edit_saled_panel_path(saled_panel) %></td>
        <td><%= link_to 'Destroy', saled_panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saled panel', new_saled_panel_path %>
