<p id="notice"><%= notice %></p>

<p>
  <strong>Solar panel:</strong>
  <%= @saled_panel.solar_panel %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @saled_panel.buyer %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @saled_panel.totalPrice %>
</p>

<p>
  <strong>Totalpower:</strong>
  <%= @saled_panel.totalPower %>
</p>

<%= link_to 'Edit', edit_saled_panel_path(@saled_panel) %> |
<%= link_to 'Back', saled_panels_path %>
