<div class="container ">
<%= form_for(@vendor) do |f| %>
  

<section class="register">
    <div class="form-group reg_section ">
    <h1><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Vendor Information</h1>
    <h3>Name</h3>
    <%= f.text_field :name %>
    
  <% if @vendor.errors[:name].any? %>
    <div id="error_explanation">  
      <ul>
      <% @vendor.errors[:name].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


  
    <h3><span class="fa fa-envelope"></span> Email</h3>
    <%= f.text_field :email %>
    <% if @vendor.errors[:email].any? %>
    <div id="error_explanation">  
      <ul>
      <% @vendor.errors[:email].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 


<div class="field form-group">


  <% if @flag == "new" %> 
        <%= fields_for :vendor_phones do |p| %> 	
           <h3><span class="fa fa-mobile"></span> Phone</h3>
	         <%= p.text_field :phone , id:"phone", value:"" , readonly: true %><br>
        <% end %>

  <%else %>
      <%= fields_for :vendor_phones do |p| %>
      <%= phonn = '' %>
      <% if @phones.blank? %>
          <p> <%= phonn = '' %> </p>
           <h3><span class="fa fa-mobile"></span> Phone</h3>
           <%= p.text_field :phone , id:"phone", value:"" , readonly: true %><br>
      
      <% else %>
         <% @phones.each do |f| %>
          <p> <% phonn = phonn + f.phone + ',' %> </p>
        <% end %>
          <%= p.text_field :phone , id:"phone", value: phonn , readonly: true %>  <a href="#" onclick="del(<%=@vendor.id %>)" class="btn btn-link" style="text-align: left"><h3>Delete Phone</h3></a> <br>
      <% end %> 
    <% end %>
  <%end %>


</div>

<a href="#" onclick="add()" class="btn btn-link" style="text-align: left"><h3>Add Phone</h3></a>

<div id="phones">
    
</div>

<div id="phonedel">
    
</div>


  <div class="actions form-group">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
</div>

<% end %>
</section >



<script>
var x=1;
var counter=0;
var allValues = '';
var temp = "";
allValues=$( "#phone" ).val().slice(0,-1);

var add = function() {
  if (counter === 0 ) {
         counter =  1;
        // $('#phones').append('<input type="text" id="'+x+'" />' ).append( '<input type="button" id="OK" value="ok" />' );
        $('#phones').append('<input type="text" id="'+x+'" style="width:350px;" />' ).append( '<input type="button" id="OK" value="ok" class="btn btn-success"   />' );
        x=x+1;
        $( "#OK" ).click(function() {
      var value = $("#1").val();
        //if (isNaN(value) || value < 1){
        re=/\(?(\+?[0-9]{2})\)?([ -]?)([0-9]{2})\2([0-9]{1})/;
        if (re.test(value)) {
                if (allValues != ''){
            allValues =  allValues + ',' + value
	        }else{
	          allValues =  allValues + value    
	        }
	        $("#phone").val(allValues);
	        $("#1").val(''); 
        }else{
          alert('Please enter a valid phone number'); 
      

        }

       });


    }
 
};

var del = function(vendorid) {

    var length_of_num = 0;
    var index =0;
	 allValues = $("#phone").val();
   $("#phone").val('');
	 var arr = allValues.split(",");

	for (var i=0 ; i< arr.length-1 ; i++){
		 var div=document.createElement("div");
     var elem = document.createElement("input");
                 elem.id =i;
                 elem.type = 'button';
                 elem.value = 'x'; 
                 elem.setAttribute("class", "btn btn-danger");
		 div.id= i;
		 div.value=arr[i];
                 div.innerHTML = arr[i];
                 elem.onclick=function(){
                   var el = document.getElementById(this.id);
                   var dataString = el.value;
               
                   allValues = allValues.replace(dataString + ',', ""); 
		    $.ajax({
			method: "POST",
			url: '/delPhone',
				dataType: "JSON",
				data: { "phone": dataString},
				complete: function(data)
				{	
					 el.parentNode.removeChild( el );
				}
			});
		     };

		    div.appendChild(elem);
        document.getElementById('phonedel').appendChild(div);
	}
};
</script>
