<p id="notice"><%= notice %></p>
  <h1 align="center">
    <span class="page-header">Listing Vendors</span>
  </h1>
<div class="container" style="width: calc(70%);">
  <div class="well">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="success">
            <th class="text-center" >Name</th>
            <th class="text-center" >Email</th>
            <th class="text-center" >Show</th>
            <th class="text-center" >Edit</th>
          </tr>
        </thead>

        <tbody>
          <% @vendors.each do |vendor| %>
            <tr>
              <td class="text-center" ><%= vendor.name %></td>
              <td class="text-center" ><%= vendor.email %></td>
              <td class="text-center" ><%= link_to 'Show', vendor, class:"btn btn-primary" %></td>
              <td class="text-center" ><%= link_to 'Edit', edit_vendor_path(vendor), class:"btn btn-default" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= will_paginate @vendors %>
<br>


