<div class="container" style="width: calc(70%);">
  <h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-list"></span> All Vendors</h1>

  <section class="register" >  
    <div class="reg_section">

      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="text-center" ><h3>Name</h3></th>
            <th class="text-center" ><h3>Email</h3></th>
            <th class="text-center" ><h3>Show</h3></th>
            <th class="text-center" ><h3>Edit</h3></th>
          </tr>
        </thead>

        <tbody>
          <% @vendors.each do |vendor| %>
            <tr>
              <td class="text-center" ><%= vendor.name %></td>
              <td class="text-center" ><%= vendor.email %></td>
              <td class="text-center" ><%= link_to 'Show', vendor, class:"btn btn-info" %></td>
              <td class="text-center" ><%= link_to 'Edit', edit_vendor_path(vendor), class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section> 
      <div >
         <%= will_paginate @vendors, renderer: BootstrapPagination::Rails %>
      </div>
    </div>





