<div class="container" style="width: calc(70%);">

  <h1 class="page-header" style="font-size:30px; color:#2A4E6E" ><span class="fa fa-info-circle"></span> Vendor Information</h1>
  
 
    <section class="register" >
    <a class="btn btn-danger pull-right black" id="<%= @vendor.id %>"><% if @vendor.blacklisted=="no" %>Black List<% else %>Short List<% end %>
    </a>  
        <div class="reg_section">
          
            
            <h3>Basic Information </h3>
  

            <ul class="list-group">
              <li class="list-group-item">Name: <%= @vendor.name %></li>
              <li class="list-group-item"><span class="fa fa-envelope"></span> Email:  <%= @vendor.email %></li>
              <li class="list-group-item"><span class="fa fa-home"></span> Address:  <%= @vendor.address %></li>
    <li class="list-group-item"><span class="fa fa-map-marker"></span> City:  <%= @vendor.city %></li>
     <li class="list-group-item"> Type:  <%= @vendor.ventype %></li>
            </ul>
        </div>

    <div class="reg_section">
      <h3>Contact Information</h3>

      <ul class="list-group">
          <% index = 1%>
            <% @vendor_phones.each do |vendorphone| %>
              <li class="list-group-item text-capitalize">Phone <%=index%>:<%= vendorphone.phone %></li>
               <%index+=1%>
          <%end%> 
      </ul>
    </div>
    </section>
 
</div>  
<script>
$(".black").click(function(){
  var id=this.id;
  $.ajax({
      type: "POST",
      url: "/vendors/black",
      dataType: "JSON",
      data: { 'id':id},
      complete: function(data)
      {
        if(($("#"+id).html()).trim()=="Short List")
        {
          $("#"+id).html("Black List")
        }
        else if(($("#"+id).html()).trim()=="Black List")
        {
           $("#"+id).html("Short List");

        }
        
        
      }
    });

});
</script>

