<div class="container text-center">
<%= form_for(@buyer) do |f| %>
  <% if @buyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buyer.errors.count, "error") %> prohibited this buyer from being saved:</h2>

      <ul>
      <% @buyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="panel panel-success" style="margin-top: 50px">
<div class="panel-body">



  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :addess %><br>
    <%= f.text_field :addess %>
  </div>
  <div class="field form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>





<div class="field form-group">

  <% if @flag == "new" %> 
        <%= fields_for :buyer_phones do |p| %>   
           <%= p.label :phone %><br>
           <%= p.text_field :phone , id:"phone", value:"" , readonly: true %><br>
        <% end %>

  <%else %>
      <%= fields_for :buyer_phones do |p| %>
      <%= phonn = '' %>
      <% if @phones.blank? %>
          <p> <%= phonn = '' %> </p>
           <%= p.label :phone %><br>
           <%= p.text_field :phone , id:"phone", value:"" , readonly: true %><br>
      
      <% else %>
         <% @phones.each do |f| %>
          <p> <% phonn = phonn + f.phone + ',' %> </p>
        <% end %>
          <%= p.text_field :phone , id:"phone", value: phonn , readonly: true %>  <a href="#" onclick="del(<%=@buyer.id %>)">Delete Phone</a> <br>
      <% end %> 
    <% end %>
  <%end %>

</div>

<a href="#" onclick="add()" >Add</a>

<div id="phones">
    
</div>

<div id="phonedel">
    
</div>

<div class="actions form-group">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
</div>
</div>
<% end %>
</div>




<script>
var x=1;
var counter=0;
var allValues = '';
var temp = "";
allValues=$( "#phone" ).val().slice(0,-1);
var add = function() {
  if (counter === 0 ) {
         counter =  1;
        $('#phones').append('<input type="text" id="'+x+'" />' ).append( '<input type="button" id="OK" value="ok" />' );
        x=x+1;
        $( "#OK" ).click(function() {
      var value = $("#1").val();
        if (isNaN(value) || value < 1){
            alert('string ');
        }else{
          
          if (allValues != ''){
            allValues =  allValues + ',' + value
            
        }else{
          allValues =  allValues + value    
        }
        $("#phone").val(allValues);
        $("#1").val('');    
        }

       });

    }
 
};

var del = function(buyerid) {
    var length_of_num = 0;
    var index =0;
   allValues = $("#phone").val();
   $("#phone").val('');
   var arr = allValues.split(",");
  for (var i=0 ; i< arr.length-1 ; i++){
     var div=document.createElement("div");
     var elem = document.createElement("input");
                 elem.id =i;
                 elem.type = 'button';
                 elem.value = 'x'; 
     div.id= i;
     div.value=arr[i];
                 div.innerHTML = arr[i];
                 elem.onclick=function(){
                   var el = document.getElementById(this.id);
                   var dataString = el.value;
               
                   allValues = allValues.replace(dataString + ',', ""); 
        $.ajax({
      method: "POST",
      url: '/delPhonee',
        dataType: "JSON",
        data: { "phone": dataString},
        complete: function(data)
        { 
           el.parentNode.removeChild( el );
        }
      });
         };

        div.appendChild(elem);
        document.getElementById('phonedel').appendChild(div);
  }
};
</script>
