<%= form_for(@solar_panel) do |f| %>
  <% if @solar_panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solar_panel.errors.count, "error") %> prohibited this solar_panel from being saved:</h2>

      <ul>
      <% @solar_panel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @flag_new==1 %>
  <div class="field">
    <%= f.label :production_date %><br>
    <%= f.date_select :production_date %>
  </div>
  
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">

    <%= f.label :type %><br>
    <%= f.select :celltype , options_for_select([['mono crystaline', 'mono crystaline'], ['poly crystaline','poly crystaline']])%>
 

  </div>

  <div class="field">
    <%= f.label :subtype %><br>
 
    <%= f.select :subtype , options_for_select([['two pathpar','two pathpar'],['three pathpar','three pathpar']])%>
 
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :serialNo %><br>
    <%= f.number_field :serialNo %>
  </div>
  <div class="field">
    <%= f.label :containerserialno %><br>
        <%= f.select(:container_id, @containerids) %>
   </div>
  </div>
  <% elsif @flag_new==0 and current_category.category == "Sales" %>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
