<p id="notice"><%= notice %></p>

<h1>Listing Solar Panels</h1>

<table>
  <thead>
    <tr>
      <th>Production date</th>
      <th>Height</th>
      <th>Width</th>
      <th>Power</th>
      <th>Type</th>
      <th>Subtype</th>
      <th>Price</th>
      <th>Serialno</th>
      <th>Container</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solar_panels.each do |solar_panel| %>
      <tr>
        <td><%= solar_panel.production_date %></td>
        <td><%= solar_panel.height %></td>
        <td><%= solar_panel.width %></td>
        <td><%= solar_panel.power %></td>
        <td><%= solar_panel.celltype %></td>
        <td><%= solar_panel.subtype %></td>
        <td><%= solar_panel.price %></td>
        <td><%= solar_panel.serialNo %></td>
        <td><%= solar_panel.container %></td>
        <td><%= link_to 'Show', solar_panel %></td>
        <td><%= link_to 'Edit', edit_solar_panel_path(solar_panel) %></td>
        <td><%= link_to 'Destroy', solar_panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solar panel', new_solar_panel_path %>
