
<div class="container">
  <div class="page-header" style="font-size:35px;">
      <h1>Solar Panel Infromation</h1>
  </div>

  

    <div class="col-md-9">
      <div class="page-header">
          <h1>Solar Panel Dimensions</h1>
      </div>

      <ul class="list-group">
        <li class="list-group-item">Height: <%= @solar_panel.height %></li>
        <li class="list-group-item">Width: <%= @solar_panel.width %></li>
      </ul>


      <div class="page-header">
          <h1>Solar Panel Basic Information</h1>
      </div>

      <ul class="list-group">
        <li class="list-group-item">Production Date :  <%= @solar_panel.production_date %></li>
        <li class="list-group-item">Power: <%= @solar_panel.power %></li>
        <li class="list-group-item">Type: <%= @solar_panel.celltype %></li>
        <li class="list-group-item">Sub Type:  <%= @solar_panel.subtype %></li>
      </ul>
         <li class="list-group-item">Price:  <%= @solar_panel.price %></li>
      </ul>
          <li class="list-group-item">Serial No:  <%= @solar_panel.serialNo %></li>
      </ul>

      <div class="page-header">
          <h1>Container Information</h1>
      </div>

      <ul class="list-group">
        <li class="list-group-item">Serial No: <%= @solar_panel.container.serialNo %></li>
        
      </ul>

     
    </div>
  </div>
</div>  
