<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <title>First Company</title>


    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper" >
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-primary btn-md pull-right toggle"><i class="fa fa-times"></i></a>
           <li><h1 class="text-primary page-header" style="font-size:25px; color:white">First Company</h1> </li>
            
            <li><a href="#top" style="font-color:#aaa">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#login">Login</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1 style='color:#2A4E6E; font-family: "Open Sans", sans-serif;'> Solar Panel System </h1>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro about">
       
            
                <div class="text-center">
                    
                    <p class="lead">First for Engineering Projects (S.A.E.), is a contracting company upgraded in 2008 from First for General Contracts that has been established in Egypt more than 25 years ago, as a leading company working in refractory lining application in Egypt and through these years, has developed its works, and elaborated to many other activities.</p>
               
           
        </div>
    </div>
    <!-- /Intro -->

    <div id="login">
 <div class="container"> 

 <div class="col-md-2 col-md-offset-1 centered">
         
                
                    
                    <section class="register login"> 
                            <%= form_for(:session, url: login_path) do |f| %>
                    <div class="reg_section">
                            <h3>Email </h3>    
                            <%= f.text_field :email,placeholder: "Enter Email" %>

                            <h3>Password </h3>
                            <%= f.password_field :password, placeholder: "Enter password" %>
                            <br>
                            <%= f.submit "Log in", class: "btn btn-warning" %>
                            <%= link_to 'Forget Password', forget_password_path ,class: "btn btn-link"  %>
                     </div>       
                        <% end %>
                     </section>   
                      
                  
</div>
</div>
</div>
    <!-- Callout -->
    <div class="callout">
    </div>
    <!-- /Callout -->
    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container text-center">
            Branch Office : 6,Masged Hatem St, Semouha , Alex-Egypt
        </div>
    </div>
    </body>
</html>







