


<%= form_for(@spare_part) do |f| %>
  <section class="register">
    <h1>Spare Part Information</h1>
  <div class="form-group reg_section">
    <h3>Name</h3>
    <%= f.text_field :name, placeholder:"Enter Spare Part Name....."%>
    <% if @spare_part.errors[:name].present? %>
        <div class="text-danger">
          * name can`t be blank
        </div>
    <% end %>    
    <h3> Quantity</h3> 
    <%= f.number_field :quantity ,placeholder:"Enter Spare Part Quantity..." %>
     <% if @spare_part.errors[:quantity].present? %>
        <div class="text-danger">
          * quantity can`t be blank
        </div>
    <% end %>
  <h3>Price</h3>
    <%= f.number_field :price ,step:0.1 ,placeholder:"Enter Spare Part Price...."%>
     <% if @spare_part.errors[:price].present? %>
        <div class="text-danger">
          * price can`t be blank
        </div>
    <% end %>
   <h3>Spare Part Image</h3>
   <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
         <div class="fileUpload btn btn-primary">
          <span>Upload</span>
    <%= f.file_field :avatar ,class: "upload", id:"uploadBtn" %> 
  </div>

  </div>

  <div class="form-group reg_section">
    <h1>Machine Information</h1>
   <h3>Machine</h3>
    <% if @flag == "new" %>
      <%= f.select :machine_id, options_from_collection_for_select(@machines, "id", "name"),{ :include_blank => false }, { :class => 'form-control' , :required => true} %>
    <%else%>
     <%= f.select :machine_id, options_from_collection_for_select(@machines, "id", "name", @spare_part.machine_id) ,{ :include_blank => false }, { :class => 'form-control' , :required => true }%>
    <%end%>
    <!-- add new quantity using ajax-->
    <a id="machinelink" class="btn btn-link" style="text-align: left" 
    onclick="showmachineform()"><h3>Add Machine</h3></a>
    <div id="addnewmachine" style="display:none" class="form-group">
      <h1>
        <span class="label label-default">New Machine</span>
      </h1>
      
       <h3>Machine Name</h3>
        <input type="text" id="machinename" placeholder="Enter Machine Name.....">
    
      <div class="actions">
        <a onclick="machineajax()" class="btn btn-success">Add Machine</a>
        <a onclick="canceladdmachine()" class="btn btn-warning">Cancel</a>
      </div>
        </div>
    </div>
      <!-- end of adding new machine using ajax -->
  

  <!-- for get all vendors to select one of them -->
  <div class="form-group reg_section">
    <h1>Vendor Information</h1>
    <h3>Vendor</h3>
    <% if @flag == "new" %>
    <%= select_tag "vendor", options_from_collection_for_select(@vendors, "id", "name") , class: 'form-control', :required => true %>
    <%else%>
     <%= select_tag "vendor", options_from_collection_for_select(@vendors, "id", "name", @vendor_id) , class: 'form-control',:required => true %>
     <%end%>
   <!-- add new vendor using ajax-->
    <a id="vendorlink" class="btn btn-link" style="text-align: left"
    onclick="showvendorform()"><h3>Add new Vendor</h3></a>
      <div id="addnewvendor" style="display:none" class="form-group">
         <h2>
         New Vendor
        </h2>
        
          <h3>Vendor Name</h3>
          <input type="text" id="vendorname" placeholder="Enter Vendor Name.....">
        
      
          <h3>Vendor Email</h3>
          <input type="text" id="vendoremail"placeholder="Enter Vendor Email...." >
        
        <div class="actions">
          <a onclick="vendorajax()" class="btn btn-success">Add Vendor</a>
          <a onclick="canceladdvendor()" class="btn btn-warning">Cancel</a>
        </div>
      </div>
    <!-- end of adding new vendor using ajax -->
  </div>
  <!-- end of div for vendors -->





   
  



<div class="actions">
  
    <%= f.submit class: 'btn btn-success' %>
  
</div>
<% end %>
<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>



