<style>
#error_explanation {
  color: red;
  background-color: white;
  border: white;
}

.field_with_errors {
    background-color: white;
}

</style>


<%= form_for(@spare_part) do |f| %>
  <% if @spare_part.errors.any? %>
    <div id="error_explanation" class="form-group">
     <div class="alert alert-danger">
      <h2><%= pluralize(@spare_part.errors.count, "error") %></h2>
      <ul>
      <% @spare_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name ,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity ,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price ,step:0.1 , class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :machine_id %><br>
    <%= f.collection_select(:machine_id, Machine.all, :id, :name ) %>

        <!-- add new quantity using ajax-->
    <a id="machinelink" class="btn btn-link" style="text-align: left" 
    onclick="showmachineform()">Add Machine</a>
    <div id="addnewmachine" style="display:none" class="form-group">
         <h1>
          <span class="label label-default">New Machine</span>
        </h1>
        <div class="form-group">
          <label>machine Name</label>
          <input type="text" id="machinename" class="form-control">
        </div>
        <div class="actions">
          <a onclick="machineajax()" class="btn btn-success">Add Machine</a>
          <a onclick="canceladdmachine()" class="btn btn-warning">Cancel</a>
        </div>
    </div>
      <!-- end of adding new machine using ajax -->
  </div>



<div class="form-group">
  <%= f.label :Vendor %><br>
  <select id="vendor" name="vendor" class="form-control">
    <% @vendors.each do |vendor| %>
       <% if @flag == "new" %>
      <option value="<%= vendor.id %>"><%= vendor.name %></option>
       <%else %>
        <% if @vendor_id == vendor.id &&%>
          <option value="<%= vendor.id %>" selected><%= vendor.name %></option>
          <%else%>
          <option value="<%= vendor.id %>"><%= vendor.name %></option>
        <%end%>   
      <%end %>
    <% end -%>
  </select>
<!-- add new vendor using ajax-->
    <a id="vendorlink" class="btn btn-link" style="text-align: left"
    onclick="showvendorform()">Add new Vendor</a>
      <div id="addnewvendor" style="display:none" class="form-group">
         <h1>
          <span class="label label-default">New Vendor</span>
        </h1>
        <div class="form-group">
          <label>Vendor Name</label>
          <input type="text" id="vendorname" class="form-control">
        </div>
        <div class="form-group">
          <label>Vendor Email</label>
          <input type="text" id="vendoremail" class="form-control">
        </div>
        <div class="actions">
          <a onclick="vendorajax()" class="btn btn-success">Add Vendor</a>
          <a onclick="canceladdvendor()" class="btn btn-warning">Cancel</a>
        </div>
      </div>
    <!-- end of adding new vendor using ajax -->

</div>




<div class="form-group">
   <%= f.label :Spare_part_Photo %><br>
    <%= f.file_field :avatar %>
  </div>



<div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
</div>
<% end %>



