<div class="container" style="width: calc(70%);">
  <h1 class="page-header" style="font-size:30px; color:#2A4E6E"><span class="fa fa-wrench"></span> All Spare Parts</h1>

  <section class="register" >  
    <div class="reg_section">
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="text-center"><h3>Image</h3></th>
            <th class="text-center"><h3>Name</h3></th>
            <th class="text-center"><h3>Quantity</h3></th>
            <th class="text-center"><h3>Machine</h3></th>
            <th class="text-center"><h3>Vendor</h3></th>
            <% if current_category.category!="Stock Keeper" %>
            <th class="text-center"><h3>Price</h3></th>
            <% end %>
            <th class="text-center"><h3>Show</h3></th>
            <% if current_category.category!="Admin" %>
            <th class="text-center"><h3>Edit</h3></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @spare_parts.each do |spare_part| %>
        <tr>
          <td class="text-center"><%= image_tag spare_part.avatar.url(:thumb),:style=>"margin-left: auto; margin-right: auto" , class: "thumbnail" %></td>
          <td class="text-center" ><%= spare_part.name %></td>
          <td class="text-center" ><%= spare_part.quantity %></td>
          <% machine = Machine.find_by(id: spare_part.machine_id) %>
          <td class="text-center" ><%= machine.name %></td>
          <% @spare_part_vendor = VendorSpare.where("spare_part_id=?",spare_part.id).order(updated_at: :desc)[0] %>
          <% vendor = Vendor.find_by(id: @spare_part_vendor.vendor_id) %>
          <td class="text-center" ><%= vendor.name %></td>
          <% if current_category.category!="Stock Keeper" %>
          <td class="text-center" ><%= spare_part.price %></td>
          <% end %>
          <td class="text-center" ><%= link_to 'Show', spare_part, class:"btn btn-info" %></td>
          <% if current_category.category!="Admin" %>
          <td class="text-center" ><%= link_to 'Edit', edit_spare_part_path(spare_part), class:"btn btn-danger"  %></td>
          <%end%>
        </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <%= will_paginate @spare_parts, renderer: BootstrapPagination::Rails %>
</div>    

