
<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Spare Parts</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th text-align="center">Image</th>
      <th text-align="center">Name</th>
      <th text-align="center">Quantity</th>
      <% if current_category.category!="Stock Keeper" %>
      <th text-align="center">Price</th>
      <% end %>
      <th text-align="center">Machine</th>
      <th text-align="center">Vendor</th>
      <th text-align="center">Show</th>
      <th text-align="center">Edit</th>

    </tr>
  </thead>

  <tbody>
    <% @spare_parts.each do |spare_part| %>
      <tr>
         <td text-align="center"><%= image_tag spare_part.avatar.url(:thumb) , class: "thumbnail" %></td>
        <td><%= spare_part.name %></td>
        <td><%= spare_part.quantity %></td>
        <% if current_category.category!="Stock Keeper" %>
        <td><%= spare_part.price %></td>
        <% end %>
        <% machine = Machine.find_by(id: spare_part.machine_id) %>
        <td><%= machine.name %></td>
        <% @spare_part_vendor = VendorSpare.where("spare_part_id=?",spare_part.id).order(updated_at: :desc)[0] %>
        <% vendor = Vendor.find_by(id: @spare_part_vendor.vendor_id) %>
        <td><%= vendor.name %></td>
        <td><%= link_to 'Show', spare_part, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_spare_part_path(spare_part), class:"btn btn-default"  %></td>
      

      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @spare_parts %>
