<br>

<table  class="table table-striped">
  <thead>
    <tr>
      <th text-align="center">Name</th>
      <th text-align="center">Quantity</th>
      <th text-align="center">Price</th>
      <th text-align="center">Machine</th>
      <th text-align="center">Show</th>
      <th text-align="center">Edit</th>
      <th text-align="center">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @spare_parts.each do |spare_part| %>
      <tr>
        <td><%= spare_part.name %></td>
        <td><%= spare_part.quantity %></td>
        <td><%= spare_part.price %></td>
        <td><%= spare_part.machine %></td>
        <td><%= link_to 'Show', spare_part, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_spare_part_path(spare_part), class:"btn btn-default"  %></td>
        <td><%= link_to 'Destroy', spare_part, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


