
<p>
  <strong>Name:</strong>
  <%= @spare_part.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @spare_part.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spare_part.price %>
</p>

<p>
  <strong>Machine:</strong>

   <% machine = Machine.find_by(id: @spare_part.machine_id) %>
        <td><%= machine.name %></td>
</p>

<p>
  <strong>Vendor:</strong>
        <% @spare_part_vendor = VendorSpare.where("spare_part_id=?", @spare_part.id).order(updated_at: :desc)[0] %>
        <% vendor = Vendor.find_by(id: @spare_part_vendor.vendor_id) %>
        <td><%= vendor.name %></td>
 </p>       
<%= image_tag @spare_part.avatar.url %>
