<%= form_for(@material_property) do |f| %>
  <% if @material_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material_property.errors.count, "error") %> prohibited this material_property from being saved:</h2>

      <ul>
      <% @material_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material_id %><br>
    <%= f.text_field :material_id %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br>
    <%= f.text_field :property_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
